<div class="row mb-5 mt-5 mb-5">
    <div class="col-md-12 mb-5">
        <h2 class="text-center">{{ 'Irodánk'|trans }}</h2>
    </div>
    <div class="col-md-6 mb-5">
        {{ include('frontend/embed/imageBox.html.twig',{src:asset('build/images/everest-office-2.png')}) }}
    </div>
    <div class="col-md-6 mt-3">
        <p>{{ 'Színvonalas irodánk 180nm-en található a belváros szívében, az Arany János utcában.'|trans }}</p>
        <p>{{ 'Az utcának ez a szakasza nyáron a Liszt Ferenc térhez hasonlítható. Szeretünk itt lenni.'|trans }} </p>
        <p>{{ 'Fiatal csapatként mindig szívesen látjuk az új munkatársakat.'|trans }} </p>
        <p>{{ 'Nálunk a munkatársi kapcsolatok nem szakadnak meg a munkaidő végeztével. Legtöbben évek óta együtt dolgozunk és tudjuk, hogy mindig számíthatunk
            egymásra.'|trans }}<p>
    </div>
</div>

