{{ form_start(form,{attr:{'style':'width: 90%;height: 100%;margin-right: auto;margin-left: 11px',action:path('contact_recruitment_submit')}}) }}
<div class="row p-lg-5 p-sm-3 bg-white pt-5 pb-5 shadow-primary-white-border">
    <div class="col-md-6">
        <div class="col-md-12 pl-0">
            {{ form_row(form.name,{'attr':{'class':'form-control mb-5','placeholder': 'Név'|trans},label:false }) }}
            {{ form_row(form.email,{'attr':{'class':'form-control mb-5','placeholder': 'E-mail cím'|trans},label:false }) }}
        </div>
    </div>
    <div class="col-md-6 text-center">
        {{ form_row(form.phone,{'attr':{'class':'form-control mb-5','placeholder': 'Telefon'|trans},label:false }) }}
        {{ form_row(form.cv,{'attr':{'disabled':'disabled','class':'form-control mb-5 d-none','placeholder': 'CV'|trans,accept:'.doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,image/*,application/pdf,application/x-pdf'},label:false }) }}
        <input name="subject" class="form-control mb-5" type="text" value="" placeholder="{{ 'Tárgy'|trans }}">
    </div>
    {% if subject is defined %}

    {% endif %}
    <input name="type" type="hidden" value="contact">
    <div class="col-md-12">
        {{ form_row(form.message,{'attr':{'rows':8,'class':'form-control','placeholder': 'Mit tehetünk Önért?'|trans},label:false }) }}
    </div>

    <div class="col-md-8 mt-5">
        <div class="pretty p-default">
            <input type="checkbox" checked name="acceptPrivacy" required style="z-index: -1 !important;">
            <div class="state  p-primary">
                <label class="ml-3"> Elfogadom az <a class="text-black text-underline" href="{{ path('privacy') }}">adatvédelmi irányelveket</a></label>
            </div>
        </div>
    </div>
    <div class="col-md-4 mt-5">
        <input type="submit" class="btn btn-primary" value="{{ 'Beküldés'|trans }}">
    </div>
</div>
{{ form_end(form) }}
