<section class="newTimeline">
    <ol>
        <li>
            <div>
                <time><i class="fa fa-calendar"></i> Tervezés</time>
                {{ 'Egyedi vállalatirányítási rendszereket (ERP) fejlesztünk, minden eddigi tapasztalatunkat beépítve.'|trans }}
            </div>
        </li>
        <li>
            <div>
                <time><i class="fa fa-arrow-right"></i> Bevezetés</time>
                {{ 'Gondoskodunk az ügyviteli és vállalatirányítási program bevezetéséről, és oktatásáról.'|trans }}
            </div>
        </li>
        <li>
            <div>
                <time><i class="fa fa-coffee"></i> Fejlesztés</time>
                {{ 'A teljesség igényével fejlesztünk Önnek hosszútávra vállalatirányítási rendszert számos iparágban és egyéb területeken.'|trans }}
            </div>
        </li>
        <li>
            <div>
                <time><i class="fa fa-cogs"></i> Üzemeltetés</time>
                {{ 'Karbantartás, rendelkezésre állás, szoftverjavítások, programfrissítések és rendszeres adatmentés.'|trans }}
            </div>
        </li>
        <li>
            <div>
                <time><i class="fa fa-support"></i> Szoftvertámogatás</time>
                {{ 'Leszállítást követően sem engedjük el az Ön kezét! Szoftvertámogatást nyújtunk, amely díjmentes fejlesztéseket is tartalmaz, pl. kisebb finomításokat, mert azokra mindig szükség lehet. Így lesz az Ön szoftvere is jövőálló.'|trans }}
            </div>
        </li>
        <li>

        </li>

    </ol>
</section>
