<section class="newtimeline">

    <div class="timeline__block" data-aos="fade-right">
        <div class="timeline__midpoint"></div>
        <div class="timeline__content timeline__content--left">
            <h3 class="timeline__year">2015</h3>
            <p class="timeline__text--left">
                {{ 'Megtörténik az első lépés, létrejön az Everest.hu'|trans }}
            </p>
        </div>
    </div>

    <div class="timeline__block" data-aos="fade-left">
        <div class="timeline__midpoint"></div>
        <div class="timeline__content timeline__content--right">
            <h3 class="timeline__year">2016</h3>
            <p class="timeline__text--right">
                {{ 'Átadjuk Ügyfeleinknek az Accounting Portált'|trans }}
            </p>
        </div>
    </div>

    <div class="timeline__block" data-aos="fade-right">
        <div class="timeline__midpoint"></div>
        <div class="timeline__content timeline__content--left">
            <h3 class="timeline__year">2017</h3>
            <p class="timeline__text--left">
                {{ 'Elindulnak fejlesztéseink Ügyfeleink számára'|trans }}
            </p>
        </div>
    </div>
    <div class="timeline__block" data-aos="fade-left">
        <div class="timeline__midpoint"></div>
        <div class="timeline__content timeline__content--right">
            <h3 class="timeline__year">2018</h3>
            <p class="timeline__text--right">
                {{ 'Saját ERP rendszert hozunk létre'|trans }}
            </p>
        </div>
    </div>
    <div class="timeline__block" data-aos="fade-right">
        <div class="timeline__midpoint"></div>
        <div class="timeline__content timeline__content--left">
            <h3 class="timeline__year">2019</h3>
            <p class="timeline__text--left">
                {{ 'ERP-t fejlesztünk külföldi partnereink részére'|trans }}
            </p>
        </div>
    </div>
    <div class="timeline__block" data-aos="fade-left">
        <div class="timeline__midpoint"></div>
        <div class="timeline__content timeline__content--right">
            <h3 class="timeline__year">2020</h3>
            <p class="timeline__text--right">
                {{ 'Ugyanezt rendszert mobilappon is bemutatjuk'|trans }}
            </p>
        </div>
    </div>
    <div class="timeline__block" data-aos="fade-right">
        <div class="timeline__midpoint"></div>
        <div class="timeline__content timeline__content--left">
            <h3 class="timeline__year">2021</h3>
            <p class="timeline__text--left">
                {{ 'Elkezdjünk az együttműködést az Ön cégével!'|trans }}
            </p>
        </div>
    </div>
</section>
