<section class="newTimeline mobileTimeline">
    <ol>
        <li>
            <div>
                <time>2015</time>
                {{ 'Létrehozzuk az Everest IT üzleti egységet'|trans }}
            </div>
        </li>
        <li>
            <div>
                <time>2016</time>
                {{ 'Átadjuk Ügyfeleinknek az Accounting Portált'|trans }}
            </div>
        </li>
        <li>
            <div>
                <time>2018</time>
                {{ 'Elkészítjük saját napelemes ERP rendszerünket'|trans }}
            </div>
        </li>
        <li>
            <div>
                <time>2020</time>
                {{ 'Belépünk a cseh piacra is ERP rendszerünkkel'|trans }}
            </div>
        </li>
        <li>
            <div>
                <time>2022</time>
                {{ 'Átadjuk Önnek kulcsrakész rendszerét!'|trans }}
            </div>
        </li>
        <li>

        </li>

    </ol>
</section>
