{% extends 'base.html.twig' %}
{% block title %}{{ 'Fejlesztőket keresünk'|trans }} - Junior/Senior Backend Developer{% endblock %}
{% block body %}
    {{ include('frontend/jobs/embed/backToPositionsButton.html.twig') }}
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-12">
                <h1 class="mobileSmallerHeading">{{ 'FEJLESZTŐKET KERESÜNK'|trans }}</h1>
                <p class="mt-5">
                    {{ 'A digitális rendszerek és megoldások iránti igény a modern értékesítési és pénzügyi terület részéről is egyre fokozódik. A hálózati rendszerek számának növekedésével az értékesítés és a pénzügyi rendszerek összekapcsolásából származó megnövekedett adatkezelési- és így ügyfélelégedettségi igényt is megbízhatóan kell kezelni. Az Everest IT részlegén tiéd lehet új rendszerek és eszközök megalkotása, és hozzájárulhatsz az hatékonyság növeléséhez, valamint az ügyfelek közvetlen kényelméhez.'|trans }} </p>
                <h2 class="text-center mb-5">{{ 'FEDEZZÜK FEL EGYÜTT A HIVATÁSON TÚLMUTATÓ KIVÁLÓSÁGOT!'|trans }}</h2>
                <p>
                    {{ 'Olyan szolgáltatást értékesítenél, amely mögött valódi érték van? Előszűrt, minőségi hot lead-ekkel dolgoznál, ahol az ügyfél keres téged? Dolgozz olyan csapatban, amely biztos multi háttértámogatással épít a jövőre és a folyamatos fejlesztésre!'|trans }} </p>
                <p>
                    {{ 'Az Everest egy Sales process excellence céggé nőtte ki magát az elmúlt hónapokban. Cégünk egyre növekszik, csapatunk egyre nehezebben bírja a negyedévenkénti 20%-os növekedést, ezért erősítést keresünk belvárosi irodánkba, ahol a sales csapatunk, IT szakembereink és a Projekt Koordinációs team vár Téged.'|trans }}
                </p>
                <p>
                    {{ 'Az ország minden tájáról származó, tapasztalt munkatársaink a vállalat értékesítési területein belül olyan technológiai áttöréseken dolgoznak, mint a személyre szabott ügyfélkezelés, értékesítési hatékonyságnövelés digitális eszközökkel, start up IT megoldások vagy az értékesítési kultúra, mint előnyrendszer. Ily módon folyamatosan új ötletek születnek, amelyek a meglévő termékeket még hatékonyabbá, még kényelmesebbé, egyszerűbbé és környezetbarátabbá teszik.'|trans }}
                </p>
                <p>
                    {{ 'Csapatunk átlagéletkora 28 év és ezzel a generációs előnyünkkel élvezzük a mindennapi kihívásokat, mert rugalmasságunk, gyors döntéshozatali képességünk, ideális és fejlett folyamataink és a tény, hogy minden munkatársunk egyéni újításai és ötletei bevezetésre tudnak kerülni csak tovább erősíti szervezeti dinamikánkat.'|trans }}
                </p>
                <h1 class="mt-3 mb-3"><u>Backend Developer</u></h1>
                <p>{{ 'Webre készített ügyfélkapcsolat kezelő rendszer (CRM) karbantartása és fejlesztése kifejezetten backend is. Az üzleti logika PHP nyelven, objektum-orientált módon történő fejlesztése, feladatok mérnöki módon megközelítése, SQL lekérdezések készítése és optimalizálása, valamint részvétel az üzleti folyamatokból / üzleti követelményekből megfogalmazott feladatok magas szintű tervezésében.'|trans }}</p>

            </div>
            <div class="col-md-6">
                <h2 class="mb-3">Junior</h2>
                <p><strong>{{ 'Feladatok'|trans }}</strong></p>
                <ul class="square">
                    <li>{{ 'együttműködés a seniorokkal, munkájuk segítése'|trans }}</li>
                    <li>{{ 'alapszintű programozási feladatok elvégzése backend oldalon (egyszerű programozási feladatok, SQL lekérdezések írása, optimalizálása)'|trans }}
                    </li>
                    <li>{{ 'tervezési folyamatokban való részvétel (tanulás)'|trans }}</li>
                </ul>
                <p><strong>{{ 'Elvárások'|trans }}</strong></p>
                <ul class="square">
                    <li>{{ 'programozási tapasztalat (1-2 év munkatapasztalat vagy programozói tanulmány, előny: egyetemi (programozói / mérnöki) képzésben való részvétel)'|trans }}
                    </li>
                    <li>{{ 'PHP, SQL nyelvek alapos ismerete'|trans }}</li>
                    <li>{{ 'objektum-orientált programozás ismerete'|trans }}</li>
                    <li>{{ 'fejlődésre való törekvés, tanulási hajlandóság'|trans }}</li>
                    <li>{{ 'tárgyalóképes angol nyelvtudás szóban és írásban'|trans }}</li>
                    <li>{{ 'jó kommunikációs készség, csapatjátékos mentalitás, rugalmasság, türelem'|trans }}</li>
                    <li>{{ 'jó problémamegoldó készség'|trans }}</li>
                </ul>
                <div class="w-100 text-center">
                    <img style="width: 80%" src="{{ asset('build/images/php.png') }}">
                </div>
            </div>
            <div class="col-md-6">
                <h2 class="mb-3">Senior</h2>
                <p><strong>{{ 'Feladatok'|trans }}</strong></p>
                <ul class="square">
                    <li>{{ 'összetett programozási és kódoptimalizálási feladatok elvégzése'|trans }}</li>
                    <li>{{ 'junior fejlesztők csoportjának vezetése, juniorok tanítása, fejlődésük segítése (best practice megoldások bemutatása)'|trans }}</li>
                    <li>{{ 'részvétel a projektek teljes életciklusát átfogó fejlesztési feladatok magas szintű tervezésében, majd mérnöki szemlélettel való implementálásában'|trans }}</li>
                    <li>{{ 'magas kódminőség biztosítása'|trans }}</li>
                    <li>{{ 'code review-k készítése'|trans }}</li>
                    <li>{{ 'agilis módszertan szerinti munkavégzés'|trans }}</li>
                    <li>{{ 'kapcsolattartás az üzleti szereplőkkel, feladatok ütemezése'|trans }}</li>
                </ul>
                <p><strong>{{ 'Elvárások'|trans }}</strong></p>
                <ul class="square">
                    <li>{{ 'releváns fejlesztési tapasztalat (5 év munkatapasztalat / mérnök informatikus egyetemi szak mellett 2-3 év munkatapasztalat)'|trans }}</li>
                    <li>{{ 'agilis módszertanban való jártasság'|trans }}</li>
                    <li>{{ 'HTML5, JavaScript, CSS3 magas szintű ismerete'|trans }}</li>
                    <li>{{ 'objektum-orientált programozás és a PHP nyelv magas szintű ismerete'|trans }}</li>
                    <li>{{ 'valamilyen modern PHP keretrendszer ismerete (Symfony, Laravel, Yii2)'|trans }}</li>
                    <li>{{ 'adatbázisok magas szintű ismerete (MySQL)'|trans }}</li>
                    <li>{{ 'feladatokhoz mérnöki szemlélettel való hozzáállás, mérnöki problémamegoldókészség'|trans }}</li>
                    <li>{{ 'tárgyalóképes angol nyelvtudás szóban és írásban'|trans }}</li>
                    <li>{{ 'jó kommunikációs készség, csapatjátékos mentalitás, rugalmasság, türelem'|trans }}</li>
                </ul>
            </div>
        </div>
    </div>
    {{ include('frontend/jobs/embed/joinUsSection.html.twig',{jobTitle:'Backend Developernek'|trans,positions:['junior backend fejlesztő'|trans,'senior backend fejlesztő'|trans],type:'karrier',subject:'IT álláshirdetés'|trans}) }}
{% endblock %}
