{% extends 'base.html.twig' %}
{% block title %}Karrier - Értékesítés-támogató koordinátork{% endblock %}
{% block body %}
    {{ include('frontend/jobs/embed/backToPositionsButton.html.twig') }}
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-12">
                <h1 class="mobileSmallerHeading">{{ 'Értékesítés-támogató koordinátor'|trans }}</h1>

                <div class="row">
                    <div class="col-md-6 text-center heading-section ftco-animate fadeInUp ftco-animated">
                        <img class="w-75" src="{{ asset('/build/images/team-graphic.png') }}">
                    </div>
                    <div class="col-md-6">
                        <p class="mt-5">
                            Az Értékesítési vezetőnknek segítségre van szüksége... az elmúlt 9 hónapban több mint 20 új értékesítési munkatársat toborzott és
                            tanított
                            be, ők ma már mind kiemelt értékesítők lettek (!). Igen, ennyi idő alatt ugrottak a ranglétrán, mert olyan teljesítményt hoztak,
                            amivel
                            már
                            nem tudtunk lépést tartani – fél év alatt fejlődtek egy évet. Így – ugyan még nincs év vége – de nem kérdés, hogy eredmény
                            szempontjából,
                            majdnem hogy megduplázzuk a tavalyi évünket. A feladat, amit kapott, hogy a következő 3 hónapban további 15 tehetséget hozzon be! A
                            megoldás, hogy szüksége van egy első számú partnerre, aki a meghosszabbított keze lesz. Aki segíti a mindennapokban és irányba
                            állítja
                            az új
                            csapatot. </p>

                    </div>
                </div>
                <h2 class="text-center mb-5 mt-5">{{ 'FEDEZZÜK FEL EGYÜTT A HIVATÁSON TÚLMUTATÓ KIVÁLÓSÁGOT!'|trans }}</h2>
                <p class="mt-3 mb-5">
                    Az értékesítési koordinátor feladata az értékesítési vezető feladatainak adminisztratív támogatása, folyamataik fejlesztése lesz
                    nagyvonalakban.
                </p>
                <h2 class="mb-3 text-center mb-5">De ennél sokkal fontosabb, hogy Te mit keresel...</h2>
                <div class="col-md-12">
                    <ul class="square">
                        <li>Pályakezdő vagy (max. 2-3 éves tapasztalattal), de úgy érzed, hogy már mindent tudsz a világról – és ezt meg is akarod mutatni –
                            minket érdekel
                        </li>
                        <li>Keresed a megfelelő pályát, szakmát, ezért olyan helyet keresel, ahol átláthatsz több területen, és akár mozoghatsz is a területek
                            között könnyedén, hogy kipróbálhasd magad – minket keresel
                        </li>
                        <li>Tetszett a „Vezércsel” sorozat a Netflix-en, mert szereted a stratégiai játékokat – Értékesítési vezetőnknél jobb stratégát nem is
                            kaphatnál
                        </li>
                        <li>Nem tudod elképzelni, hogy olyan helyen dolgozz ahol a saját értékeid, személyiséged nem „fittel” a miénkkel – Mi sem</li>
                        <li>Hinned kell a termékben, szolgáltatásban amit árulunk – a megújuló energiánál nem találsz jobbat</li>
                        <li>Wonder Woman szerinted is a legmenőbb szuperhős</li>
                    </ul>
                    <h2 class="mb-3 text-center mb-5">Mi Téged keresünk....mert</h2>
                    <ul class="square">
                        <li>Szívesen dolgoznál egy gyorsan növekvő cégnél, ahol lehetőséged van a céggel együtt nőni, és van használható munkatapasztalatod
                            irodai munkában - Pályakezdő fiatalok egyaránt versenyben, hiszen valahol el kell kezdeni, nem!? - Iskolai végzettség nem az
                            elsődleges szempont
                        </li>
                        <li>Belső és/vagy külső partnereknek szóló levelezés, és egyéb dokumentáció előkészítésében szerzett tapasztalat</li>
                        <li>Informatikai eszközök, különösen a Microsoft Office (Word, Excel, Power Point és Outlook)</li>
                        <li>Tárgyalóképes angol nyelvtudás írásban és szóban egyaránt</li>
                        <li>Kiemelkedő kommunikációs készség – itt mindenkit érdekel a véleményed és javaslataid, ezt használd ki</li>
                        <li>Nyitott személyiség</li>
                        <li>Kreatív gondolkozás – ötletek kellenek, új irányok és változások tőled</li>
                        <li>És Csapatszellem és együttműködő-képesség – az átlagéletkor 28 év, fiatal, lelkes, szenvedélyes csapat – ezzel nem tudunk mit
                            kezdeni, élvezzük amit csinálunk minden percben
                        </li>
                    </ul>
                    <h2 class="mb-3 text-center mb-5">Mi is lesz a feladat - ez az a rész, ami folyamatosan alakul az elvárásaidnak, és fejlesztéseidnek
                        köszönhetően munkád során...</h2>
                    <ul class="square">
                        <li>Külső és belső megbeszéléseket fogsz szervezni, valamint segítesz a tréningek előkészítésében</li>
                        <li>Megkeresések, információ- és dokumentumkérések érkeznek hozzád, amiket kezelni kell, tapintat, diszkréció és titoktartás mellett
                        </li>
                        <li>Elektronikus és papíralapú dokumentumrendszerünk van, ez összefonódik a feladataiddal - (címlisták, levelezés, gépelés, fénymásolás,
                            szkennelés, iktatás és archiválás)
                        </li>
                        <li>Az értékesítés folyamatainak és munkafolyamatának folyamatos kezelésére szükség van, de úgy, hogy közben folyamatosan nézzed, hol
                            lehetne egyszerűsíteni, gyorsítani rajta
                        </li>
                        <li>A cég értékesítési folyamatainak tervezési, szervezési feladatainak elvégzése is része a feladatnak, ezt főleg a vezetővel együtt
                            fogjátok megoldani
                        </li>
                        <li>A sales osztály munkájának eredményessége, a tevékenységi körbe utalt feladatok színvonalas és hatékony elvégzése alapja az ő
                            sikerüknek is
                        </li>
                        <li>NPS (Net Promoter Score – Ügyfélelégedettség) a legfontosabb mérőszámunk – az Ügyfelek elégedettsége rajtad fog múlni –
                            elégedettség-mérés
                        </li>
                        <li>A vállalati értékek és a vízió nagykövetét faragunk Belőled, aki egyaránt a vállalaton belül és kívül is tudja azt képviselni</li>
                        <li>Kiemelkedően elszámoltatható és megbízható munkát tudsz végezni</li>
                    </ul>
                    <h2 class="mb-3 text-center mb-5">{{ 'További információ'|trans }}</h2>
                    <ul class="square">
                        <li>Stabil háttér, hosszútávú munkahely határozatlan időtartamra</li>
                        <li>Teljes munkaidő, normál munkarenddel, de részmunkaidőt is tudunk vállalni</li>
                        <li>Évente min. 4-5 személyre szabott tréning</li>
                        <li>Everest mindset</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    {{ include('frontend/jobs/embed/joinUsSection.html.twig',{jobTitle:'<br/>Értékesítés-támogató koordinátornak!',position:'értékesítés-támogató-koordinátor',type:'karrier',subject:'Értékesítés támogató koordinátor'}) }}
{% endblock %}
