{% extends 'base.html.twig' %}
{% block title %} {{ 'Rólunk'|trans }} {% endblock %}
{% block body %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <h1 data-aos="fade-left">{{ 'Rólunk'|trans }}</h1>
                <h2 data-aos="fade-left" class="mt-5">{{ 'Mi az Everest?'|trans }}</h2>
                <p class="mt-5" data-aos="fade-right">
                    {{ 'Az Everest 3 különböző üzletágban van jelen:'|trans }}
                </p>
                <ul class="square" data-aos="fade-right">
                    <li>
                        <a href="{{ path('accounting') }}">{{ 'Everest Accounting'|trans }}</a>
                        - {{ 'Könyvelés Magyarországon: tapasztalt könyvelők, online portál, account menedzserek.'|trans }}
                    </li>
                    <li>
                        <a href="{{ path('renewables') }}">{{ 'Everest Renewables'|trans }}</a>
                        - {{ 'Megújuló Energia Magyarországon és Csehországban: termékek és szolgáltatások értékesítése és teljes körű adminisztrációja IT üzletágunk által egyedileg fejlesztett ERP rendszer támogatásával.'|trans }}
                    </li>
                    <li>
                        <a href="{{ path('it-solutions') }}">{{ 'Everest IT Solutions'|trans }}</a>
                        - {{ 'A társüzletágak üzleti folyamataihoz általunk, egyedileg fejlesztett ERP rendszer biztosítása, optimalizálása és Ügyfeleink hasonló igényeinek a magas színvonalú kiszolgálása.'|trans }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5 pb-lg-5 pb-3 p-0  position-relative jobsGalleryContainer ">
        <div class="row mt-5 m-md-0 m-lg-0 ml-lg-n5 ml-md-n5 mr-3 jobsGalleryFirstRow">
            <div class="col-md-3 col jobsGalleryColumn"
                 style='background: url({{ asset('build/images/everest-rolunk1.jpg') }}) 92% 81%;'></div>
            <div class="col-md-3 col jobsGalleryColumn" style='background: url({{ asset('build/images/everest-rolunk2.jpg') }}) 15% 15%'></div>
            <div class="col-md-2 hidden-xs jobsGalleryColumn" style='background: url({{ asset('build/images/everest-event.jpg') }}) 0% 50%'></div>
            <div class="col-md-4 hidden-xs jobsGalleryColumn" style='background: url({{ asset('build/images/everest-about-us-2.jpg') }}) center'></div>
        </div>
        <div class="row mt-lg-5 m-md-0 m-lg-0 ml-3 mr-lg-n5 mr-md-n5 jobsGallerySecondRow">
            <div class="col-md-3 col jobsGalleryColumn"
                 style='background: url({{ asset('build/images/everest-about-us-6.jpg') }}) center;'></div>
            <div class="col-md-3 col jobsGalleryColumn" style='background: url({{ asset('build/images/everest-about-us-5.jpg') }}) 100% 50%'></div>
            <div class="col-md-4 hidden-xs jobsGalleryColumn" style='background: url({{ asset('build/images/everest-about-us-4.jpg') }}) 0% 50%'></div>
            <div class="col-md-2 hidden-xs jobsGalleryColumn" style='background: url({{ asset('build/images/everest-about-us-1.jpg') }}) 0 70%'></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="" data-aos="fade-left" data-aos-anchor-placement="bottom-bottom">{{ 'Történetünk'|trans }}</h2>
                <p class="mt-5" data-aos="fade-right" data-aos-anchor-placement="bottom-bottom">
                    {{ 'Az Everest csapat története már több mint 15 éves múltra tekint vissza. 2005-ben az első ügyféltalálkozónk is ugyanúgy zajlott, mint most: az elérhető legjobb tudással, a legmagasabb szinten szolgáltuk ki Ügyfeleink igényeit. Az akkor még néhány fős csapat az évek alatt gyorsan gyarapodott és egyre növekvő ügyfélbázisunknak köszönhetően egyszerűen nem kerülhette el figyelmünket az, hogy a könyvelési piac itthon újításra szorul, így eltökélt célunkká vált, hogy többet adjunk egy hagyományos könyvelésnél.'|trans }}
                </p>
                <p class="mt-3" data-aos="fade-left" data-aos-anchor-placement="bottom-bottom">
                    {{ '2015-ben elindítottunk könyvelés üzletágunkat Everest Accounting néven. A saját fejlesztésű portálunknak, felkészült könyvelőinknek és mindig elérhető account menedzsereinknek köszönhetően üzletágunk gyorsan fejlődött, 2018 óta pedig már zártkörű részvénytársaságként folytatjuk tevékenységünket.'|trans }}
                </p>
                <p class="mt-3" data-aos="fade-right" data-aos-anchor-placement="bottom-bottom">
                    {{ 'A portál fejlesztésével együtt indult IT csapatunk is, kezdetben csupán két fővel. Ma fejlesztőink azért dolgoznak, hogy a másik két üzletágunk háttérmunkái gördülékenyek legyenek; emellett pedig folyamatosan kiszolgáljuk Ügyfeleinket saját IT kéréseit is.'|trans }}
                </p>
                <p class="mt-3" data-aos="fade-left" data-aos-anchor-placement="bottom-bottom">
                    {{ 'Az Accountingnak köszönhetően érkeztek hozzánk olyan munkatársak, akik segítségével a Megújuló energia üzletágunk 2016-ban elindulhatott. Új profilunk indulása után szinte rögtön dinamikus sikert aratott és néhány év alatt itthon addig még nem látott rekordokat dönthettünk! Sikerünk egyik kulcsa, hogy Ügyfeleink életútját a saját fejlesztésű ERP rendszerünkben több szereplővel felügyeljük. A Megújuló üzletágunk különböző helyeken bizonyít:'|trans }}
                </p>
                <ul class="square" data-aos-anchor-placement="bottom-bottom" data-aos="fade-right">
                    <li>
                        {{ 'Ügyfeleinknél terepen'|trans }}
                    </li>
                    <li>
                        {{ 'háttérirodánkban, ahol a papírmunkát és az ügyfélkezelést végezzük.'|trans }}
                    </li>
                </ul>
                <p class="mt-3" data-aos-anchor-placement="bottom-bottom" data-aos="fade-left">
                    {{ 'A következő lépésként elhatároztuk, hogy a Magyarországon megszerzett tapasztalatainkat külföldön is kamatoztassuk, ennek köszönhetően az Everest már Csehországban is jelen van!'|trans }}
                </p>
                <h2 class="mt-5" data-aos-anchor-placement="bottom-bottom" data-aos="fade-up">{{ 'Miért pont Everest?'|trans }}</h2>
                <p class="mt-3" data-aos-anchor-placement="bottom-bottom" data-aos="fade-right">
                    {{ 'Nevünk tükrözi törekvésünket arra, hogy mindig a lehető legjobbat nyújtsuk Ügyfeleinknek minden téren. Legyen szó könyvelésről, B2C piacról vagy akár egy komplex vállalatirányítási rendszer elkészítéséről, Partnerünkkel közösen elérjük a csúcsot.'|trans }}
                </p>
                <h2 class="mt-5" data-aos-anchor-placement="bottom-bottom" data-aos="fade-up">{{ 'Discover Greatness Beyond Profession'|trans }}</h2>
                <p class="mt-3" data-aos-anchor-placement="bottom-bottom" data-aos="fade-right">
                    {{ 'Az Everest és vele együtt minden munkatársunk a kiválóságot keresi. A legjobbat akarjuk Ügyfeleinknek, ezt pedig csak úgy érhetjük el, ha mindig a legmagasabb szakmai színvonalat biztosítjuk minden üzletágunkban.'|trans }}
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row p-5 bg-primary">
            <div class="col-md-12">
                <h1 class="text-center text-light lettersAnimation  text-big">{{ 'Mi, itt az Everestnél...'|trans }}</h1>
            </div>
        </div>
    </div>
    <div class="container pb-5">
        <div class="row mt-5">
            <div class="col-md-12">
                <ul class="square">
                    <li data-aos-anchor-placement="bottom-bottom"
                        data-aos="fade-right">{{ 'Hiszünk benne, hogy etikus hozzáállásunkkal, a kiemelkedő csapatösszetartásunkkal és naprakész munkatársainkkal az Everest több mint egy hagyományos szolgáltatócég. Sőt, erre büszkék is vagyunk!'|trans }}</li>
                    <li data-aos-anchor-placement="bottom-bottom"
                        data-aos="fade-right">{{ 'Fontos számunkra a csapat! Munkatársainkat és partnereinket megbecsüljük, biztosítjuk a szakmai fejlődést és nyitottak vagyunk. Minden esetben a hosszútávú együttműködésre szavazunk.'|trans }}</li>
                    <li data-aos-anchor-placement="bottom-bottom"
                        data-aos="fade-right">{{ 'Mindig többre vágyunk! Nem elégszünk meg pillanatnyi sikerünkkel, inkább mindig tökéletesítjük a folyamatokat, kommunikációnkat, ügyfélkezelésünket.'|trans }}</li>
                    <li data-aos-anchor-placement="bottom-bottom"
                        data-aos="fade-right"> {{ 'Legyen szó bármelyik üzletágról, legnagyobb Ügyfeleinkkel évek óta együtt dolgozunk, erre kifejezetten büszkék vagyunk!'|trans }}</li>
                    <li data-aos-anchor-placement="bottom-bottom"
                        data-aos="fade-right">{{ 'Nem csupán szolgáltatásmenedzsmenttel foglalkozunk; annál sokkal többet nyújtunk bármelyik ügyfelünknek. Akár B2B, akár B2C, a sales folyamat nálunk inkább tanácsadásként írható le, hiszen nem csak az adott pillanatban fontos az ügyfél számunkra, hanem a - közös - jövőben is.'|trans }}</li>
                </ul>

            </div>
        </div>
    </div>
    <style>
        .body-container {
            background-position-y: -5% !important;
            background-position-x: -289% !important;
            background: url({{ asset('/build/images/mountains.png') }});
            background-repeat: no-repeat;
            background-size: 106%;
        }
    </style>
{% endblock %}
{% block javascripts %}
    <script>
        $(window).scroll(function () {
            let galleryFirstRow = $(".jobsGalleryFirstRow")
            let gallerySecondRow = $(".jobsGallerySecondRow")
            let topDistance = $(window).scrollTop()
            // galleryFirstRow.transition({x: +'px'}, 0);
            galleryFirstRow.animate({left: topDistance / 10}, 0);
            gallerySecondRow.animate({left: -topDistance / 10}, 0);
            // gallerySecondRow.transition({x: -topDistance / 10 + 'px'}, 0);
            // galleryFirstRow.css('transform', 'translate3d(' + topDistance + ',0px, 0px)')
        });
    </script>
{% endblock %}
