{% extends 'base.html.twig' %}
{% block title %}{{ 'Könyvelés'|trans }}{% endblock %}
{% block body %}
    <div class="container-fluid jumbotron-bg position-relative"
         style="background: url('{{ asset('build/images/everest_background.jpg') }}');min-height: 600px;background-position-y:44%">
        <div class="row">
            <div class="primary-overlay-div"></div>
            <div class="container mt-5">
                <div class="row">

                    <div class="col-md-6 text-left animate__animated animate__fadeInRight">
                        <h1 class="mb-5 text-big fadeInTextAnimation">{{ 'Könyvelés'|trans }}</h1>
                        <p class="mt-sm-5 fadeInTextAnimation " data-delay="20">
                            {{ 'Az üzleti életben muszáj tervezni, ehhez pedig pontos adatokra van szükség, akár ebben a pillanatban. Ebben segítünk:
                            Everest
                            Accounting.'|trans }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid ">
        <div class="row p-lg-5 p-3  bg-white">
            <div class="col-md-12">
                {# <h1 class="text-xl-center text-dark text-big text-medium-sm" data-aos-easing="ease-in-sine" data-aos="fade-up" data-aos-duration="400" #}
                <h1 data-aos="fade-bottom" data-aos-anchor-placement="bottom-bottom"
                    class="text-xl-center text-dark text-big text-medium-sm">{{ 'Profi csapat, átlátható könyvelés'|trans }}</h1>
            </div>
        </div>
    </div>
    <div class="container-fluid  bg-primary" style="padding:0;" id="accountingCounters" data-aos="fade-zoom-in"
         data-aos-easing="ease-in-back"
         data-aos-offset="0">
        <div class="row no-gutters">
            <div class="col ">
                {{ include('frontend/embed/counterWidget.html.twig',{number:1,description:'Portál'|trans}) }}
            </div>
            <div class="col ">
                {{ include('frontend/embed/counterWidget.html.twig',{number:15,description:'Könyvelő '|trans}) }}
            </div>
            <div class="col">
                {{ include('frontend/embed/counterWidget.html.twig',{number:10,description:'Account manager '|trans}) }}
            </div>
            <div class="col ">
                {{ include('frontend/embed/counterWidget.html.twig',{number:15,suffix:'év'|trans,description:' tapasztalat'|trans,suffixMargin:true}) }}
            </div>
            <div class="col ">
                {{ include('frontend/embed/counterWidget.html.twig',{number:200,suffix:'+',description:'Elégedett ügyfél'|trans}) }}
            </div>


        </div>
    </div>
    <div class="container" data-aos="fade-right" data-aos-anchor-placement="bottom-bottom">
        <div class="row mt-5 mb-5">
            <div class="col-md-12">
                <h3 class="text-dark text-big mt-5 mb-3">2005</h3>
                <p>{{ 'Ebben az évben találkoztunk első Ügyfeleinkkel, akiket a mai napig több száz elégedett partner követett: segítettük üzleti tevékenységüket könyveléssel és adótanácsadással, hogy minél hatékonyabban használhatják ki erőforrásaikat.'|trans }}</p>
            </div>
        </div>
    </div>

    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6 mt-5 mb-0">
                <h1 class="text-big text-dark mb-5" data-aos="fade-left" data-aos-anchor-placement="bottom-bottom">{{ 'Hogyan dolgozunk'|trans }}?</h1>
            </div>
            <div class="col-md-6 mb-5" id="accountingImageBox" data-aos="fade-right" data-aos-anchor-placement="bottom-bottom">
                {# TODO: Set make standalone template for this image style #}
                {{ include('frontend/embed/imageBox.html.twig',{src:asset('build/images/everest-accounting-photo-2.jpg')}) }}
            </div>
            <div class="col-md-6 " data-aos="fade-left" data-aos-anchor-placement="bottom-bottom">
                <p class="text-right ">{{ 'Akár egyetlen mondattal le tudnánk írni, hogyan dolgozunk: könyvelői csapatunk mellett account managereink és internetes portálunk támogatják a tudatos vezetői döntéseket.'|trans }}</p>
                <p class="text-right"> {{ 'Ennél azonban sokkal többet nyújt szolgáltatásunk: egy felkészült pénzügyi tanácsadó iránymutatása mellett naprakész jogszabályi ismeretekkel rendelkező, pontos, precíz könyvelőcsapat áll majd rendelkezésére, valamint egy Portál, ami megkönnyíti a cégvezetést és üzleti tervezést.'|trans }}</p>
            </div>
        </div>
        <div class="row mt-big-2">
            <div class="col-md-12 text-center text-dark">
                <h2 class="text-medium " data-aos="fade-bottom" data-aos-anchor-placement="bottom-bottom">{{ 'Adatok vállalkozásáról.'|trans }}</h2>
                <h2 class="text-big mt-3" data-aos="fade-bottom" data-aos-anchor-placement="bottom-bottom">{{ 'Azonnal.'|trans }}</h2>
                <p class="mt-5 text-left" data-aos="fade-right" data-aos-anchor-placement="bottom-bottom">
                    {{ 'Ön ismeri azokat az adatokat, amelyek alapján döntene egy új munkatársról, beruházásról, vagy akár csak egy kisebb kiadásról? Ismeri a bevételi/kiadási statisztikáit, a szezonalitását, tudja, hogy mely partnerek a top vásárlói és mennyit költöttek el Önnél?'|trans }}
                </p>
                <p class="mt-3 text-left" data-aos="fade-left"
                   data-aos-anchor-placement="bottom-bottom"> {{ 'A Portálon keresztül egyetlen kattintással elérhetővé válik vállalkozása aktuális pénzügyi helyzete, többek között a követelések és a kötelezettségek; mit, mikor kell befizetni, melyik számlának mi a státusza. A Portálon belül pár kattintással rendelkezésére áll számtalan statisztika, az eredménykimutatás, illetve az éves, negyedéves adatok is.'|trans }}</p>
            </div>
        </div>
    </div>
    <div class="container" data-aos="fade-right" data-aos-anchor-placement="left-left">
        <div class="row">
            <div class="col-md-12 p-lg-5 p-md-5" style="background: #c4c4c4">
                <h1 class=" text-big bg-grey text-dark">{{ 'A Portál'|trans }}</h1>
                <div class="col-lg-12 img services-img mt-5 portalVideoDesktop d-flex"
                     style="background-image: url({{ asset('/build/images/everest_screen2.png') }});height: 500px">
                    <button href="https://player.vimeo.com/video/269352736?app_id=122963"
                            class="icon popup-vimeo d-flex justify-content-center align-items-center"
                            style="text-decoration: none !important;">
                            <span data-toggle="modal" data-target="#vimeoModal" class="fa fa-play fa-3x  text-primary">
                            </span>
                    </button>
                </div>


            </div>
        </div>
    </div>
    <div class="container-fluid portalVideoMobile" data-aos="fade-right" data-aos-anchor-placement="left-left">
        <div class="row">
            <div class="col-lg-12 img services-img mt-3 "
                 style="background-image: url({{ asset('/build/images/everest_screen2.png') }});height: 500px">
                <button href="https://player.vimeo.com/video/269352736?app_id=122963"
                        class="icon popup-vimeo d-flex justify-content-center align-items-center"
                        style="text-decoration: none !important;">
                            <span data-toggle="modal" data-target="#vimeoModal" class="fa fa-play fa-3x  text-primary">
                            </span>
                </button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-5">
                <ul class="square">
                    <li data-aos="fade-right"
                        data-aos-anchor-placement="bottom-bottom">{{ 'Minden statisztika, cégadat egy helyen: egy kattintással, akár egy meeting közben is'|trans }}</li>
                    <li data-aos="fade-right"
                        data-aos-anchor-placement="bottom-bottom">{{ 'Felelős döntést másodpercek alatt, azonnal elérhető cégadatokból'|trans }}</li>
                    <li data-aos="fade-right"
                        data-aos-anchor-placement="bottom-bottom">{{ 'Döntse el egy pillanat alatt, hogy van-e elég fedezete arra, amit tervez'|trans }}</li>
                    <li data-aos="fade-right"
                        data-aos-anchor-placement="bottom-bottom">{{ 'Férjen hozzá az bérszámfejtés összes adatához: bárhol, és bármikor'|trans }}</li>

                </ul>

            </div>
        </div>
        <div class="row pt-5 text-center pb-5">
            <div class="col"></div>
            <div class="col" data-aos="fade-right" data-aos-anchor-placement="bottom-bottom">
                <a href="#contact" class="btn btn-primary">{{ 'Érdekel'|trans }}</a>
            </div>
            <div class="col" data-aos="fade-left" data-aos-anchor-placement="bottom-bottom">
                <a href="https://portal.everest.hu" target="_blank" class=" btn btn-primary">{{ 'Portál'|trans }}</a>
            </div>
            <div class="col"></div>
        </div>
        <div class="row mt-5 text-center" data-aos="fade-top" data-aos-anchor-placement="bottom-bottom">
            <div class="col-md-12">
                <strong class="text-center">{{ 'Segítünk, hogy mindig naprakész legyen a könyvelésben!'|trans }}</strong>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5 pt-5 pb-5 bg-primary" id="contact">
        <div class="container mt-5 mb-5">
            <div class="row ">
                <div class="col-md-12 ">
                    <h1 class="text-white" data-aos="fade-right" data-aos-anchor-placement="bottom-bottom">{{ 'Segíthetünk?'|trans }}</h1>
                    <p class="text-white mt-5" data-aos="fade-left" data-aos-anchor-placement="bottom-bottom">
                        {{ 'Írjon nekünk és Account Managere 24 órán belül felveszi Önnel a kapcsolatot, hogy minden kérdésére választ kapjon! Angolul, németül és spanyolul is állunk Ügyfeleink rendelkezésére!'|trans }}
                    </p>
                </div>
                <div class="col-md-12 mt-5 mb-5">
                    {{ include('frontend/embed/contactForm.html.twig',{subject:'Érdeklődés könyvelési szolgáltatás iránt'|trans,message:'Kedves Everest csapat!

Szívesen tájékozódnék személyesen az egyedülálló szolgáltatási csomagról.

Elérhető vagyok a megadott email címen, illetve telefonszámon:
'|trans}) }}
                </div>
            </div>
        </div>
    </div>

    <style>
        .services-img .icon {
            align-self: center;
            margin-left: auto;
            margin-right: auto;
            width: 100px;
            height: 100px;
            display: block;
            z-index: 2;
            background: #fff;
            -webkit-animation: pulse 2s infinite;
            animation: pulse 2s infinite;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            border-radius: 50%;
        }

        .services-img:after {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: '';
            opacity: .3;
            background: #000;
            z-index: 1;
        }

        .services-img {
            display: flex;
        }

        @media (min-width: 769px) {
            .portal-video-iframe {
                min-height: 500px !important;
            }

            .portalVideoDesktop {
                display: block;
            }

            .portalVideoMobile {
                display: none;
            }
        }

        @media (max-width: 768px) {
            .portal-video-iframe {
                min-height: 500px
            }

            .portalVideoDesktop {
                display: none !important;
            }

            .portalVideoMobile {
                background: #c4c4c4;
                display: block;
            }
        }
    </style>
    <!-- Button trigger modal -->

    <!-- Modal -->
    <div class="modal fade" id="vimeoModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <iframe style="width: 100%" class="portal-video-iframe" src="//player.vimeo.com/video/269352736?app_id=122963" frameborder="0"
                            allowfullscreen=""></iframe>
                </div>

            </div>
        </div>
    </div>
    {% block javascripts %}
        <script>
            $(document).ready(function () {
                $('.popup-vimeo').click(function (e) {
                    e.preventDefault();
                })
            })

        </script>
    {% endblock %}
{% endblock %}


