{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="container-fluid jumbotron jumbotron-bg"
             style="background: url('{{ asset('build/images/accounting.png') }}');min-height: 600px;background-position-y:20%">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6 text-right animate__animated animate__fadeInRight">
                        <h1 class="mb-5 text-big">{{ 'Könyvelés'|trans }}</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Enim eu libero varius posuere nisi, viverra non orci. Posuere
                            consectetur
                            sed in ut pellentesque in arcu. Sed neque sit pellentesque vulputate. Bibendum venenatis suspendisse interdum dignissim tellus sit
                            purus
                            tristique orci. Et, tellus feugiat amet posuere lacus velit elit adipiscing. Viverra vitae curabitur dolor scelerisque nibh facilisi
                            risus.
                            Aliquet mi facilisi risus blandit et ut. Quis adipiscing odio vitae turpis mi, malesuada leo sagittis in. Sit risus, ac mi mi.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-lg-5 bg-white">
        <div class="col-md-12">
            <h1 class="text-center text-dark animate__animated animate__fadeIn text-big">Profi csapat, átlátható könyvelés</h1>
        </div>
    </div>

    <div class="container-fluid animate__animated animate__fadeIn bg-primary" style="padding:0;" id="accountingCounters">
        <div class="row no-gutters">
            <div class="col ">
                {{ include('frontend/embed/counterWidget.html.twig',{number:1,description:'Portál'}) }}
            </div>
            <div class="col ">
                {{ include('frontend/embed/counterWidget.html.twig',{number:15,description:'Könyvelő'}) }}
            </div>
            <div class="col">
                {{ include('frontend/embed/counterWidget.html.twig',{number:10,description:'Account manager'}) }}
            </div>
            <div class="col ">
                {{ include('frontend/embed/counterWidget.html.twig',{number:15,numberSuffix:' év',description:'Tapasztalat'}) }}
            </div>
            <div class="col ">
                {{ include('frontend/embed/counterWidget.html.twig',{number:200,numberSuffix:'+',description:'Elégedett ügyfél'}) }}
            </div>


        </div>
    </div>
    <div class="container ">
        <div class="row mt-5 mb-5">
            <div class="col-md-12">
                <h3 class="text-dark text-big mt-5 mb-5">2005</h3>
                <p>Ebben az évben találkoztunk első ügyfeleinkkel, akiket a mai napig több száz elégedett partner követett: segítettük pénzügyi tevékenységüket
                    könyveléssel és tanácsadással, miként használhatják ki erőforrásaikat még hatékonyabban.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center ">
                <h3 style="text-decoration: underline;width: fit-content" class="text-medium m-auto text-white p-5 bg-primary">Ismerje meg új
                    könyvelőcsapatát</h3>
            </div>
        </div>

    </div>

    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-6">
                {# TODO: Set make standalone template for this image style #}
                <div style="margin-top: 6em;position:relative;width: fit-content;height: fit-content" class="bg-primary">
                    <img width="337" height="auto"
                         style="position:relative;top:3em;left:3em;"
                         src="{{ asset('build/images/colleagues-office-1.png') }}" alt="Accounting team"/>
                </div>
            </div>
            <div class="col-md-6 mt-big-2">
                <h2 class="text-big text-dark mb-5">Hogyan dolgozunk?</h2>
                <p class="text-right">Akár egyetlen mondattal le tudnánk írni, hogyan dolgozunk: könyvelői csapatunk mellett account managereink és internetes
                    portálunk támogatják
                    a tudatos vezetői döntéseket.</p>
                <p class="text-right"> Ennél azonban sokkal többet nyújt szolgáltatásunk: egy felkészült pénzügyi tanácsadó iránymutatása mellett naprakész
                    jogszabályi
                    ismeretekkel rendelkező, pontos, precíz könyvelőcsapat áll majd rendelkezésére, valamint egy Portál, ami megkönnyíti a cégvezetést és a
                    pénzügyi tervezést.</p>
            </div>
        </div>
        <div class="row mt-big-2">
            <div class="col-md-12 text-center text-dark">
                <h2 class="text-medium ">Adatok vállalkozásáról.</h2>
                <h2 class="text-big mt-3">Azonnal.</h2>
                <p class="mt-5 text-left">
                    Ön ismeri azokat az adatokat, amelyek alapján döntene egy új munkatársról, beruházásról, vagy akár csak egy kisebb kiadásról? Ismeri a
                    bevételi/kiadási statisztikáit, a szezonalitását, tudja, hogy mely partnerek a top vásárlói és mennyit költöttek el Önnél?
                </p>
                <p class="mt-3 text-left"> A Portálon keresztül egyetlen kattintással elérhetővé válik vállalkozása aktuális pénzügyi helyzete, többek között a
                    követelések és a
                    kötelezettségek; mit, mikor kell befizetni, melyik számlának mi a státusza. A Portálon belül pár kattintással rendelkezésére áll számtalan
                    statisztika, az eredménykimutatás, illetve az éves, negyedéves adatok is.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 jumbotron p-5" style="min-height: 500px">
                <h2 class=" text-big text-dark">A Portál</h2>
            </div>
        </div>

        <div class="row pt-lg-5 text-center pb-lg-5">
            <div class="col"></div>
            <div class="col">
                <button class="btn btn-primary">Érdekel</button>
            </div>
            <div class="col">
                <button class="btn btn-primary">Könyvelési kisokos</button>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <div class="container-fluid mt-5 pt-lg-5 bg-primary">
        <div class="container mt-5">
            <div class="row ">
                <div class="col-md-12 ">
                    <h1 class="text-white">{{ 'Segíthetünk?'|trans }}</h1>
                    <p class="text-white mt-5">
                        {{ 'Írjon nekünk és Account Managere 12 órán belül felveszi Önnel a kapcsolatot, hogy minden kérdésére választ kapjon!'|trans }}
                    </p>
                </div>
                <div class="col-md-12 mt-5 mb-5">
                    <form style="width: 90%;height: 100%;margin-right: auto">
                        <div class="row p-5 bg-white pt-lg-5 pb-lg-5 shadow-primary-white-border">
                            <div class="col-md-6">
                                <div class="col-md-12 pl-0">
                                    <input type="text" name="name" class="form-control mb-5" placeholder="{{ 'Név'|trans }}">
                                    <input type="text" name="company" class="form-control mb-5" placeholder="{{ 'Cég'|trans }}">
                                </div>
                            </div>
                            <div class="col-md-6 text-center">
                                <input type="text" name="email" class="form-control mb-5" placeholder="{{ 'E-mail cím'|trans }}">
                                <input type="text" name="phone" class="form-control mb-5" placeholder="{{ 'Telefon'|trans }}">
                            </div>
                            <div class="col-md-12">
                                <textarea rows="8" class="form-control" name="message" placeholder="{{ 'Mit tehetünk önért?' }}"></textarea>
                            </div>
                            <div class="col-md-8 mt-5">
                                <div class="pretty p-default">
                                    <input type="checkbox" checked name="acceptPrivacy">
                                    <div class="state  p-primary">
                                        <label class="ml-3"> Elfogadom az <a class="text-black text-underline" href="#">adatvédelmi irányelveket</a></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mt-5">
                                <input type="submit" class="btn btn-primary" value="{{ 'Beküldés'|trans }}">
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


