{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="container-fluid jumbotron jumbotron-bg"
             style="background: url('{{ asset('build/images/accounting.png') }}');min-height: 600px;background-position-y:20%">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6 text-right animate__animated animate__fadeInRight">
                        <h1 class="mb-5 text-big">Accounting</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Enim eu libero varius posuere nisi, viverra non orci. Posuere
                            consectetur
                            sed in ut pellentesque in arcu. Sed neque sit pellentesque vulputate. Bibendum venenatis suspendisse interdum dignissim tellus sit
                            purus
                            tristique orci. Et, tellus feugiat amet posuere lacus velit elit adipiscing. Viverra vitae curabitur dolor scelerisque nibh facilisi
                            risus.
                            Aliquet mi facilisi risus blandit et ut. Quis adipiscing odio vitae turpis mi, malesuada leo sagittis in. Sit risus, ac mi mi.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-lg-5 bg-white">
        <div class="col-md-12">
            <h1 class="text-center text-black animate__animated animate__fadeIn text-big">Profi csapat, átlátható könyvelés</h1>
        </div>
    </div>

    <div class="container-fluid animate__animated animate__fadeIn" style="padding:0;" id="accountingCounters">
        <div class="row no-gutters">
            <div class="col ">
                {{ include('frontend/embed/counterWidget.html.twig',{number:1,description:'Portál'}) }}
            </div>
            <div class="col ">
                {{ include('frontend/embed/counterWidget.html.twig',{number:15,description:'Könyvelő'}) }}
            </div>
            <div class="col">
                {{ include('frontend/embed/counterWidget.html.twig',{number:10,description:'Account manager'}) }}
            </div>
            <div class="col ">
                {{ include('frontend/embed/counterWidget.html.twig',{number:15,numberSuffix:' év',description:'Account manager'}) }}
            </div>
            <div class="col ">
                {{ include('frontend/embed/counterWidget.html.twig',{number:200,numberSuffix:'+',description:'Elégedett ügyfél'}) }}
            </div>


        </div>
    </div>
    <div class="container ">
        <div class="row mt-lg-5 mb-lg-5">
            <div class="col-md-12">
                <h3 class="text-black text-big mt-lg-5 mb-lg-5">2005</h3>
                <p>Ebben az évben találkoztunk első ügyfeleinkkel, akiket a mai napig több száz elégedett partner követett: segítettük pénzügyi tevékenységüket
                    könyveléssel és tanácsadással, miként használhatják ki erőforrásaikat még hatékonyabban.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center ">
                <h3 style="text-decoration: underline;width: fit-content" class="text-medium m-auto text-white p-5 bg-primary">Ismerje meg új
                    könyvelőcsapatát</h3>
            </div>
        </div>

    </div>

    <div class="container mt-lg-5 mb-lg-5">
        <div class="row">
            <div class="col-md-6">
                {# TODO: Set make standalone template for this image style #}
                <div style="margin-top: 6em;position:relative;width: fit-content;height: fit-content" class="bg-primary">
                    <img width="337" height="auto"
                         style="position:relative;top:3em;left:3em;"
                         src="{{ asset('build/images/colleagues-office-1.png') }}" alt="Accounting team"/>
                </div>
            </div>
            <div class="col-md-6 mt-big-2">
                <h2 class="text-big text-black mb-lg-5">Hogyan dolgozunk?</h2>
                <p class="text-right">Akár egyetlen mondattal le tudnánk írni, hogyan dolgozunk: könyvelői csapatunk mellett account managereink és internetes
                    portálunk támogatják
                    a tudatos vezetői döntéseket.</p>
                <p class="text-right"> Ennél azonban sokkal többet nyújt szolgáltatásunk: egy felkészült pénzügyi tanácsadó iránymutatása mellett naprakész
                    jogszabályi
                    ismeretekkel rendelkező, pontos, precíz könyvelőcsapat áll majd rendelkezésére, valamint egy Portál, ami megkönnyíti a cégvezetést és a
                    pénzügyi tervezést.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
    </div>

    <style>
        /*TODO: Move to app.css*/
        .jumbotron-bg {
            background-size: cover !important;
        }

        .text-big {
            font-weight: bold;
            font-size: 56px;
        }

        .text-medium {
            font-size: 32px;
        }

        .mt-big-1 {
            margin-top: 3em;
        }

        .mt-big-2 {
            margin-top: 8em;
        }
    </style>

{% endblock %}


