{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="container-fluid jumbotron-bg position-relative"
             style="background: url('{{ asset('build/images/accounting.png') }}');min-height: 600px;background-position-y:20%">
            <div class="primary-overlay-div"></div>
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6 text-right animate__animated animate__fadeInRight">
                        <h1 class="mb-5 text-big">{{ 'Könyvelés'|trans }}</h1>
                        <p class="mt-sm-5">Az üzleti életben muszáj tervezni, ehhez pedig pontos adatokra van szükség, akár ebben a pillanatban. Ebben segítünk
                            Everest
                            Accounting.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-lg-5 p-3  bg-white">
        <div class="col-md-12">
            <h1 class="text-xl-center text-dark animate__animated animate__fadeIn text-big text-medium-sm">Profi csapat, átlátható könyvelés</h1>
        </div>
    </div>

    <div class="container-fluid animate__animated animate__fadeIn bg-primary" style="padding:0;" id="accountingCounters">
        <div class="row no-gutters">
            <div class="col ">
                {{ include('frontend/embed/counterWidget.html.twig',{number:1,description:'Portál'}) }}
            </div>
            <div class="col ">
                {{ include('frontend/embed/counterWidget.html.twig',{number:15,description:'Könyvelő'}) }}
            </div>
            <div class="col">
                {{ include('frontend/embed/counterWidget.html.twig',{number:10,description:'Account manager'}) }}
            </div>
            <div class="col ">
                {{ include('frontend/embed/counterWidget.html.twig',{number:15,numberSuffix:' év',description:'Tapasztalat'}) }}
            </div>
            <div class="col ">
                {{ include('frontend/embed/counterWidget.html.twig',{number:200,numberSuffix:'+',description:'Elégedett ügyfél'}) }}
            </div>


        </div>
    </div>
    <div class="container ">
        <div class="row mt-5 mb-5">
            <div class="col-md-12">
                <h3 class="text-dark text-big mt-5 mb-3">2005</h3>
                <p>Ebben az évben találkoztunk első ügyfeleinkkel, akiket a mai napig több száz elégedett partner követett: segítettük pénzügyi tevékenységüket
                    könyveléssel és tanácsadással, miként használhatják ki erőforrásaikat még hatékonyabban.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center p-lg-5 p-0">
                <h3 style="text-decoration: underline;width: fit-content"
                    class="text-medium text-normal-sm m-auto text-white p-lg-5 p-4 bg-primary text-left">
                    Ismerje meg új könyvelőcsapatát</h3>
            </div>
        </div>

    </div>

    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6 mt-5 mb-0">
                <h1 class="text-big text-dark mb-5">Hogyan dolgozunk?</h1>
            </div>
            <div class="col-md-6 mb-5" id="accountingImageBox">
                {# TODO: Set make standalone template for this image style #}
                {{ include('frontend/embed/imageBox.html.twig',{src:asset('build/images/colleagues-office-1.png')}) }}
            </div>
            <div class="col-md-6 ">
                <p class="text-right">Akár egyetlen mondattal le tudnánk írni, hogyan dolgozunk: könyvelői csapatunk mellett account managereink és internetes
                    portálunk támogatják
                    a tudatos vezetői döntéseket.</p>
                <p class="text-right"> Ennél azonban sokkal többet nyújt szolgáltatásunk: egy felkészült pénzügyi tanácsadó iránymutatása mellett naprakész
                    jogszabályi
                    ismeretekkel rendelkező, pontos, precíz könyvelőcsapat áll majd rendelkezésére, valamint egy Portál, ami megkönnyíti a cégvezetést és a
                    pénzügyi tervezést.</p>
            </div>
        </div>
        <div class="row mt-big-2">
            <div class="col-md-12 text-center text-dark">
                <h2 class="text-medium ">Adatok vállalkozásáról.</h2>
                <h2 class="text-big mt-3">Azonnal.</h2>
                <p class="mt-5 text-left">
                    Ön ismeri azokat az adatokat, amelyek alapján döntene egy új munkatársról, beruházásról, vagy akár csak egy kisebb kiadásról? Ismeri a
                    bevételi/kiadási statisztikáit, a szezonalitását, tudja, hogy mely partnerek a top vásárlói és mennyit költöttek el Önnél?
                </p>
                <p class="mt-3 text-left"> A Portálon keresztül egyetlen kattintással elérhetővé válik vállalkozása aktuális pénzügyi helyzete, többek között a
                    követelések és a
                    kötelezettségek; mit, mikor kell befizetni, melyik számlának mi a státusza. A Portálon belül pár kattintással rendelkezésére áll számtalan
                    statisztika, az eredménykimutatás, illetve az éves, negyedéves adatok is.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 jumbotron p-5" style="min-height: 500px">
                <h2 class=" text-big text-dark">A Portál</h2>
            </div>
            <div class="col-md-12 mt-5">
                <ul class="square">
                    <li>Minden statisztika, cégadat egy helyen: egy kattintással, akár egy meeting közben is</li>
                    <li>Felelős döntést másodpercek alatt, azonnal elérhető cégadatokból</li>
                    <li>Döntse el egy pillanat alatt, hogy van-e elég fedezete arra, amit tervez</li>
                    <li>Férjen hozzá az bérszámfejtés összes adatához: bárhol, és bármikor</li>

                </ul>

            </div>
        </div>

        <div class="row pt-5 text-center pb-5">
            <div class="col"></div>
            <div class="col">
                <a href="#contact" class="btn btn-primary">Érdekel</a>
            </div>
            <div class="col">
                <button class="btn btn-primary">Könyvelési kisokos</button>
            </div>
            <div class="col"></div>
        </div>
        <div class="row mt-5 text-center">
            <div class="col-md-12">
                <strong class="text-center">Segítünk, hogy mindig naprakész legyen a könyvelésben!</strong>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5 pt-5 bg-primary" id="contact">
        <div class="container mt-5">
            <div class="row ">
                <div class="col-md-12 ">
                    <h1 class="text-white">{{ 'Segíthetünk?'|trans }}</h1>
                    <p class="text-white mt-5">
                        {{ 'Írjon nekünk és Account Managere 24 órán belül felveszi Önnel a kapcsolatot, hogy minden kérdésére választ kapjon! Angolul, németül és spanyolul is állunk ügyfeleink rendelkezésére!'|trans }}
                    </p>
                </div>
                <div class="col-md-12 mt-5 mb-5">
                    {{ include('frontend/embed/contactForm.html.twig') }}
                </div>
            </div>
        </div>
    </div>

    <style>

    </style>

{% endblock %}


