{% extends 'base.html.twig' %}
{% block title %}{{ 'Karrier'|trans }}{% endblock %}
{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <h1>Légy felfedező!</h1>
                <p class="mt-5">
                    Az Everest folyamatosan fejlődik, így különböző üzletágainkban mindig megtalálhatóak nyitott pozíciók. Célunk olyan munkatársakkal bővülni,
                    akik ténylegesen ügyfeleink és csapatunk érdekeit tartják szem előtt. Amennyiben valamelyik felkeltette érdeklődését, várjuk jelentkezését!
                    Mi mindig nagyon örülünk minden újabb CV-nek!
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5 pb-lg-5 pb-3 p-0 mb-5">
        <div class="row mt-5 m-md-0 m-lg-0 mr-3">
            <div class="col-md-3 col jobsGalleryColumn"
                 style='background: url({{ asset('build/images/renewables.png') }}) center;border-right:20px solid white !important;border-left: 0px !important;'></div>
            <div class="col-md-3 col jobsGalleryColumn" style='background: url({{ asset('build/images/accounting.png') }}) center'></div>
            <div class="col-md-3 hidden-xs jobsGalleryColumn" style='background: url({{ asset('build/images/accounting.png') }}) center'></div>
            <div class="col-md-3 hidden-xs jobsGalleryColumn" style='background: url({{ asset('build/images/accounting.png') }}) center'></div>
        </div>
        <div class="row mt-lg-5 m-md-0 m-lg-0 ml-3">
            <div class="col-md-2 col jobsGalleryColumn"
                 style='background: url({{ asset('build/images/renewables.png') }}) center;border-right:20px solid white !important;border-left: 0px !important;'></div>
            <div class="col-md-4 col jobsGalleryColumn" style='background: url({{ asset('build/images/accounting.png') }}) center'></div>
            <div class="col-md-3 hidden-xs jobsGalleryColumn" style='background: url({{ asset('build/images/accounting.png') }}) center'></div>
            <div class="col-md-3 hidden-xs jobsGalleryColumn" style='background: url({{ asset('build/images/accounting.png') }}) center'></div>
        </div>
    </div>

    <div class="container">
        <div class="row ">
            <div class="col-md-12">
                <h2 class="text-left text-black animate__animated animate__fadeIn text-medium">
                    {{ 'Nyitott állások'|trans }}
                </h2>
            </div>
        </div>
        <div class=" mb-5 flex-row" style="">
            <div class="col-md-4 p-4">
                {{ include('frontend/embed/jobPreview.html.twig',{title:'Értékesítő - Account Manager',description:'Szereted a pörgős életet és nem irodában szeretsz ülni egész nap?<br/> Bővülő csapatunkba új account managereket keresünk! ',url:path('job_sales')}) }}
            </div>
            <div class="col-md-4 p-4">
                {{ include('frontend/embed/jobPreview.html.twig',{title:'Junior/Senior Full Stack Developer',description:'Webre készített ügyfélkapcsolat kezelő rendszer (CRM) karbantartása és fejlesztése frontend és backend oldalon. ',url:path('job_full_stack_developer')}) }}
            </div>
            <div class="col-md-4 p-4">
                {{ include('frontend/embed/jobPreview.html.twig',{title:'Junior/Senior Backend Developer',description:'Webre készített ügyfélkapcsolat kezelő rendszer (CRM) karbantartása és fejlesztése <br/>kifejezetten backend oldalon.',url:path('job_backend_developer')}) }}
            </div>
            <div class="col-md-4 p-4 mt-5">
                {{ include('frontend/embed/jobPreview.html.twig',{title:'Könyvelő',description:'A számviteli/könyvelői csapatban Te biztosítod azt, hogy a közzétett pénzügyi kimutatások megfeleljenek a vonatkozó szabályzatoknak és az ügyfelek a lehető legjobb megoldást kapják ezen a területen mind szakmailag mint támogató (IT) rendszereink révén.',url:path('job_accountant')}) }}
            </div>
        </div>

    </div>


    <style>
        @media only screen and (min-width: 481px) {
            .flex-row {
                display: flex;
                flex-wrap: wrap;
            }

            .flex-row > [class*='col-'] {
                display: flex;
                flex-direction: column;
            }

            .flex-row.row:after,
            .flex-row.row:before {
                display: flex;
            }
        }

        .jobsGalleryColumn {
            border: 10px solid white !important;
            min-height: 154px;
            background-size: cover !important;
        }
    </style>
{% endblock %}


