{% extends 'base.html.twig' %}
{% block title %}{{ 'Karrier'|trans }}{% endblock %}
{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <h1>Légy felfedező!</h1>
                <p class="mt-5">
                    Az Everest folyamatosan fejlődik, így különböző üzletágainkban mindig megtalálhatóak nyitott pozíciók. Célunk olyan munkatársakkal bővülni,
                    akik ténylegesen ügyfeleink és csapatunk érdekeit tartják szem előtt. Amennyiben valamelyik felkeltette érdeklődését, várjuk jelentkezését!
                    Mi mindig nagyon örülünk minden újabb CV-nek!
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5 pb-lg-5 pb-3 p-0 mb-5">
        <div class="row mt-5 m-md-0 m-lg-0 mr-3">
            <div class="col-md-3 col jobsGalleryColumn"
                 style='background: url({{ asset('build/images/renewables.png') }}) center;border-right:20px solid white !important;border-left: 0px !important;'></div>
            <div class="col-md-3 col jobsGalleryColumn" style='background: url({{ asset('build/images/accounting.png') }}) center'></div>
            <div class="col-md-3 hidden-xs jobsGalleryColumn" style='background: url({{ asset('build/images/accounting.png') }}) center'></div>
            <div class="col-md-3 hidden-xs jobsGalleryColumn" style='background: url({{ asset('build/images/accounting.png') }}) center'></div>
        </div>
        <div class="row mt-lg-5 m-md-0 m-lg-0 ml-3">
            <div class="col-md-2 col jobsGalleryColumn"
                 style='background: url({{ asset('build/images/renewables.png') }}) center;border-right:20px solid white !important;border-left: 0px !important;'></div>
            <div class="col-md-4 col jobsGalleryColumn" style='background: url({{ asset('build/images/accounting.png') }}) center'></div>
            <div class="col-md-3 hidden-xs jobsGalleryColumn" style='background: url({{ asset('build/images/accounting.png') }}) center'></div>
            <div class="col-md-3 hidden-xs jobsGalleryColumn" style='background: url({{ asset('build/images/accounting.png') }}) center'></div>
        </div>
    </div>

    <div class="container">
        <div class="row p-5">
            <div class="col-md-12">
                <h2 class="text-left text-black animate__animated animate__fadeIn text-medium">
                    {{ 'Nyitott állások'|trans }}
                </h2>
            </div>
            <div class="col-md-12">
                <h2 class="text-center pt-5">Jelenleg nincs nyitott állásunk.</h2>
            </div>
        </div>

    </div>


    <style>

        .jobsGalleryColumn {
            border: 10px solid white !important;
            min-height: 154px;
            background-size: cover !important;
        }
    </style>
{% endblock %}


