{% extends 'base.html.twig' %}
{% block title %} {{ 'Főoldal'|trans }}{% endblock %}
{% block body %}

    <ul class="homeList" style="">
        <a href="{{ path('accounting') }}" class="active homeList accounting" data-aos="fade-up">
            <div class="section-title">
                <h2>{{ 'Könyvelés'|trans }}</h2>
            </div>
            <div class="section-content">

            </div>
        </a>
        <a href="{{ path('renewables') }}" class=" homeList renewables" data-aos="fade-up" data-aos-delay="100">
            <div class="section-title">
                <h2>Renewables</h2>
            </div>
            <div class="section-content">

            </div>
        </a>
        <a href="{{ path('it-solutions') }}" class="homeList itsolutions" data-aos="fade-up" data-aos-delay="200" data-aos-anchor-placement="top-left">
            <div class="section-title">
                <h2>{{ 'IT Solutions'|trans }}</h2>
            </div>
            <div class="section-content">

            </div>
        </a>
    </ul>
    <style>
        @media (min-width: 768px) {
            .homeList h2 {
                font-size: 2.5em;
            }
        }

        .accounting.active {
            background: url({{asset('build/images/everest_background.jpg')}}) !important;
            background-size: cover !important;
        }

        .accounting {
            background: linear-gradient(rgba(34, 70, 148, 0.5), rgba(34, 70, 148, 0.5)), url({{asset('build/images/everest_background.jpg')}});
            background-size: cover !important;
        }

        .renewables.active {
            background: url({{asset('build/images/everest_background_sales.jpg')}}) 18% !important;
            background-size: cover !important;
        }

        .renewables {
            background: linear-gradient(rgba(34, 70, 148, 0.5), rgba(34, 70, 148, 0.5)), url({{asset('build/images/everest_background_sales.jpg')}}) 18%;
            background-size: cover !important;
        }

        .itsolutions.active {
            background: url({{asset('build/images/it-solutions.png')}}) !important;
            background-size: cover !important;
        }

        .itsolutions {
            background: linear-gradient(rgba(34, 70, 148, 0.5), rgba(34, 70, 148, 0.5)), url({{asset('build/images/it-solutions.png')}});
            background-size: cover !important;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script>
        var section = $('a.homeList');

        function toggleAccordion() {
            section.removeClass('active');
            $(this).addClass('active');
        }

        section.on('mouseenter', toggleAccordion);
        section.on('touchstart', toggleAccordion);
    </script>
{% endblock %}

