{% extends 'base.html.twig' %}
{% block title %} {{ 'Főoldal'|trans }}{% endblock %}
{% block body %}

    <!-- These variables help keep track of the input name and ID-->
    <!-- currentTab helps keep track of each individual input-->
    <!-- tabControlName is used as a unique identifier for the accordion-->
    <div class="homeContainer accounting">
        <ul class="pl-0">
            <li>
                <!-- Using radio inputs means only one can be selected at a time-->
                <!-- The ID must be unique so the label will point to the input-->
                <input id="rad1" type="radio" name="rad" checked="checked"/>
                <label for="rad1">
                    <div>Könyvelés</div>
                </label>
                <div class="accslide ">
                    <div class="content h-100">
                        <h2>Könyvelés</h2>
                    </div>
                </div>
            </li>
            <li>
                <!-- Using radio inputs means only one can be selected at a time-->
                <!-- The ID must be unique so the label will point to the input-->
                <input id="rad2" type="radio" name="rad"/>
                <label for="rad2">
                    <div>Renewables</div>
                </label>
                <div class="accslide">
                    <div class="content">
                        <h2>Renewables</h2>
                    </div>
                </div>
            </li>
            <li>
                <!-- Using radio inputs means only one can be selected at a time-->
                <!-- The ID must be unique so the label will point to the input-->
                <input id="rad3" type="radio" name="rad"/>
                <label for="rad3">
                    <div>IT Solutions</div>
                </label>
                <div class="accslide">
                    <div class="content">
                        <h2>{{ 'IT Solutions'|trans }}</h2>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <style>
    </style>
{% endblock %}

    {% block javascripts %}
        <script>
            $(document).ready(function () {
                var rad1 = $("#rad1");
                var rad2 = $("#rad2");
                var rad3 = $("#rad3");
                var homeContainer = $(".homeContainer")
                rad1.click(function () {
                    homeContainer.css('background', "linear-gradient(rgba(34, 70, 148, 0.5), rgba(34, 70, 148, 0.5)), url({{ asset('build/images/everest_background.jpg') }}) 50%")
                })
                rad2.click(function () {
                    homeContainer.css('background', "linear-gradient(rgba(34, 70, 148, 0.5), rgba(34, 70, 148, 0.5)), url({{ asset('build/images/everest_background_sales.jpg') }})")
                })
                rad3.click(function () {
                    homeContainer.css('background', "linear-gradient(rgba(34, 70, 148, 0.5), rgba(34, 70, 148, 0.5)), url({{ asset('build/images/it-solutions.png') }})")
                })
            })
        </script>

    {% endblock %}

