{% extends 'base.html.twig' %}
{% block title %} {{ 'IT Megoldások'|trans }} {% endblock %}
{% block body %}
    <div class="row">
        <div class="container-fluid jumbotron-bg position-relative"
             style="background: url('{{ asset('build/images/it-solutions.png') }}') right;min-height: 600px;background-position-y: 90%">
            <div class="row p-lg-5 h-100">
                <div class="primary-overlay-div"></div>
                <div class="col-md-4 col-lg-6">
                </div>
                <div class="col-md-8 col-lg-6 p-lg-5 p-md-3 p-3 m-lg-0 m-md-0 m-2 text-right animate__animated animate__fadeInRight mt-lg-5 mt-md-5 mt-1 align-self-end">
                    <h1 class="mb-5 text-big mt-md-5 pt-md-5 fadeInTextAnimation">{{ 'IT Megoldások'|trans }}</h1>
                    {# <p class="mt-sm-5 text-medium fadeInTextAnimation" data-delay="20" #}
                    {# data-word-delay="1500">{{ 'Nem csupán weboldalakat készítünk…'|trans }}</p> #}
                </div>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row p-5 bg-white">
            <div class="col-md-12 ">
                <h2 class="text-left text-dark animate__animated animate__fadeIn text-medium text-normal-sm mb-0 lettersAnimation">
                    {{ 'Az IT Solutions egyidős az Everesttel, hiszen mindannyian ismerjük a divatossá vált kifejezést, hogy weblap nélkül egy vállalat láthatatlan. Ebből már következik is, hogy az IT fejlesztés nálunk is nélkülözhetetlen volt már az elejétől kezdve.'|trans }}
                </h2>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-primary text-white pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center" data-aos="fade-down">
                    <h1>{{ 'Mérföldköveink'|trans }}</h1>
                </div>
            </div>
        </div>
        {{ include('frontend/embed/timeline.html.twig') }}
    </div>
    <div class="container mt-5 p-3">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    {{ 'Hogyan készül el nálunk egy fejlesztés?'|trans }}
                </h2>
                <ul class="mt-3 square">
                    <li> {{ 'Felmérjük az igényeket, a valósakat! Megbeszéljük, hogy pontosan mire van szükség, milyen célközönséggel, határidőkkel és erőforrással.'|trans }}
                    </li>
                    <li>
                        {{ 'Tervezünk: először közösen, majd házon belül'|trans }}
                    </li>
                    <li>
                        {{ 'A fejlesztés állapotáról folyamatosan egyeztetünk, így a végén nem lesznek meglepetések'|trans }}
                    </li>
                    <li>
                        {{ 'Megtörténik az átadás'|trans }}

                    </li>
                </ul>
                <p class="mt-5">
                    {{ 'Legyen szó egy egyszerű weboldal készítésről, akár egy összetett CRM vagy ERP rendszerről, csapatunkkal készen állunk a teljes implementációra - tervezéstől a megvalósításig és utána a supportig. Rejtett költségek nélkül!'|trans }}
                </p>
                <p class="mt-5">
                    {{ 'Garantáljuk Önnek, hogy a nálunk készült fejlesztések megfelelnek az alábbi kritériumoknak:'|trans }}
                </p>
                <ul class="mt-3 square">
                    <li>{{ 'Könnyen használható - tudjuk, hiszen mi is dolgoztunk lassú, nehezen használható programokkal'|trans }}</li>
                    <li>{{ 'Bővíthető - akár egyszerű weboldal vagy összetett rendszer, legyen összekapcsolható bármivel a jövőben'|trans }}</li>
                    <li>{{ 'Biztonság - törekszünk a maximálisra'|trans }}</li>
                    <li>{{ 'GDPR kompatibilis - segítünk a GDPR kidolgozásban is'|trans }}</li>
                    <li>{{ 'SEO - hogy a Google is kedvelje oldalát'|trans }}</li>
                    <li>{{ 'UI/UX - persze az sem gond, ha a felhasználók is szeretik!'|trans }}</li>
                    <li>{{ 'Betartjuk, amit ígérünk - hogy ne csak a felhasználói, hanem az ügyfélélmény is lélegzetelállító legyen!'|trans }}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5 pt-lg-5 pt-md-5 pt-3 pb-5 bg-primary" id="contact">
        <div class="container mt-5 mb-5">
            <div class="row ">
                <div class="col-md-12 ">
                    <h1 class="text-white text-medium-sm">{{ 'Segíthetünk?'|trans }}</h1>
                    <p class="text-white mt-5">
                        {{ 'Írjon nekünk és kollégáink 24 órán belül felveszi Önnel a kapcsolatot, hogy minden kérdésére választ kapjon!'|trans }}
                    </p>
                </div>
                <div class="col-md-12 mt-5 mb-5">
                    {{ include('frontend/embed/contactForm.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

