{% extends 'base.html.twig' %}
{% block title %}{{ 'Megújuló energia'|trans }}{% endblock %}
{% block header %}{% endblock %}
{% block body %}
    <div>
        <section class="section">
            {{ include('frontend/embed/header.html.twig') }}
            <div class="row ">
                <div class="container-fluid  jumbotron-bg position-relative"
                     style="background: url('{{ asset('build/images/renewables_header.png') }}') bottom;margin-bottom:0px;min-height: 600px">
                    <div class="primary-overlay-div"></div>
                    <div class="container mt-5 p-1 p-lg-1">
                        <div class="row mt-1">
                            <div class="col-md-12 text-left animate__animated animate__fadeInRight"><h1
                                        class="mb-5 text-big text-white fadeInTextAnimation">{{ 'Megújuló energia'|trans }}</h1>
                                <h2 class="text-right text-white text-medium mr-5 pr-lg-5 fadeInTextAnimation" data-word-delay="1500"
                                    data-delay="50">{{ 'Ügyfél elköteleződést ajánlunk'|trans }}</h2>
                                <p class="text-right text-white mt-3"><strong class="fadeInTextAnimation"
                                                                              data-word-delay="2500">{{ 'nem csak sales konzultációt'|trans }}</strong></p>
                            </div>
                        </div>
                    </div>
                    {{ include('frontend/embed/sliderDownArrow.html.twig',{section:'second'}) }}
                </div>
            </div>
        </section>
        <section class="section secondSection">
            <div class=" container ">
                <div class="row p-5 bg-white">
                    <div class="col-md-12 ">
                        <h2 class="text-left text-dark animate__animated animate__fadeIn text-medium lettersAnimation">{{ 'A környezetvédelem és a fenntarthatóság kérdése minden napjaink legégetőbb problémájává vált. Az Everest Renewables eltökélt célja, hogy részt vegyen a megoldásban és biztosítsa az élhető jövő lehetőségét.'|trans }}
                        </h2>
                    </div>
                </div>
            </div>

            <div class="container mb-5" data-aos="fade-left">
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6 mt-5 mb-0">
                        <h1 class="text-big text-dark mb-5 text-right">{{ 'Munkamódszerünk'|trans }}</h1>
                    </div>
                    <div class="col-md-6 mb-5" id="accountingImageBox" data-aos="fade-right">
                        {# TODO: Set make standalone template for this image style #}
                        {{ include('frontend/embed/imageBox.html.twig',{src:asset('build/images/everest-photo2.jpg')}) }}
                    </div>
                    <div class="col-md-6 ">
                        <p class="text-right">{{ 'Professzionális tanácsadáson keresztül erősítjük partnereink megítélését és pozícióját a megújuló energiák piacán.'|trans }}</p>
                        <h2 class="mb-3 mt-3 text-right">{{ 'Az ügyféligényekhez igazodunk'|trans }}</h2>
                        <p class="text-right">{{ 'Partnereink potenciális ügyfeleinek segíti csapatunk a megfelelő, évtizedeket kiszolgáló megoldásokat kiválasztani. Tanácsadói és szakmai felkészültségünket a napelemes piacon eltöltött kiemelkedően sikeres évek igazolják, és biztosítják leendő partnereink számára az eredményes együttműködést.'|trans }}</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section fp-scrollable ">
            <div class=" container-fluid " style="padding: 0 !important;">
                <div class="row no-gutters ">
                    <div class="col-md-6 p-5 bg-primary">
                        <div class="col-md-12 h-100 " style="margin-top: auto;margin-bottom: auto;display: grid">
                            {{ include('frontend/embed/counterWidget.html.twig',{number:7500,description:'Értékesített napelem'|trans,suffix:'+'}) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12  bg-primary-light p-lg-5 p-3"><h2 class="text-medium text-white text-normal-sm text-center"> Net Promoter
                                        Score (NPS):<span class="countup-numbers text-big ml-lg-5 ml-1 text-medium-sm" data-num="75">75</span></h2></div>
                                <div class="col-md-12 d-md-block d-lg-block  d-flex  bg-white p-md-5 p-lg-5 p-3">
                                    <div class="col-md-12"><h2
                                                class="text-medium mt-4 mt-md-3 mt-lg-0 text-center mt-lg-0 text-sm-right text-md-center">{{ 'Szerződéskötési arány'|trans }}
                                            :</h2></div>
                                    <div class="col-md-12"><h1 class="mt-lg-5 mt-md-0 mt-lg-0 mt-3 text-center text-black ">18.7%</h1></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container mt-5 mb-5">
                    <div class="row">
                        <div class="col-md-12 text-center text-dark">
                            <h2 class=" font-weight-bold">{{ 'Környezettudatosság felső fokon - teljeskörű, környezetbarát épületreform'|trans }}</h2>
                            <p class="mt-5 text-left"> {{ 'Cselekszünk környezetünkért. Az Everest Renewables rendszeres oktatások szervezésével dolgozik azon, hogy minden munkatársunk maximális felkészültséggel lépjen be Ügyfeleinkhez. <strong>Egy épület megújításakor rengeteg faktort kell figyelembe venni, ezért egyáltalán nem mindegy, hogy milyen napelemes rendszer, klíma, hőszivattyú vagy akár elektromos autó töltő kerül a háztartásokba. Az értékesített termékeink műszaki tartalma állandóan változik - ahogy az ügyféligények is.</strong> Emiatt rendszeres műszaki oktatások mellett magas színvonalú sales tréningeket szervezünk, hogy egész csapatunk tudása folyamatosan naprakész legyen és bármilyen áramhoz kapcsolódó terméket vagy szolgáltatást magabiztosan értékesítsünk.'|trans|raw }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class=" container mt-5 mb-5">
                <div class="row p-lg-0 p-md-5 p-0 bg-white" style="min-height: 500px">
                    <div class="col-md-12 ">
                        <h2 class="text-center mb-5">{{ 'Magyarországról indultunk, ma viszont már több országban jelen vagyunk!'|trans }}
                        </h2>
                        <div id="vmap" style="width: 100%; height: 600px;"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container-fluid  bg-primary pt-5 pb-5 ">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="text-white text-medium-sm">{{ 'Everest ügyfél- és projektmenedzsment'|trans }}</h1>
                            <h2 class="text-white text-normal-sm mb-3">{{ 'Ügyféligénytől a jótállásig'|trans }}</h2>
                        </div>
                    </div>
                </div>
                <div class="row ml-lg-5 mr-lg-5 mr-md-3 ml-md-3">
                    <div class="col-md-12">
                        <ul class="timeline">
                            <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                                <div class="timeline-arrow"></div>
                                <p class="h5 mb-0">{{ 'Érdeklődők gyűjtése/leadgenerálás'|trans }}</p>
                            </li>
                            <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                                <div class="timeline-arrow"></div>
                                <p class="h5 mb-0">{{ 'Ügyféllel való kapcsolatfelvétel, időpont egyeztetés'|trans }}</p>
                            </li>
                            <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                                <div class="timeline-arrow"></div>
                                <p class="h5 mb-0">{{ 'Szerződéskötés'|trans }}</p>
                            </li>
                            <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                                <div class="timeline-arrow"></div>
                                <p class="h5 mb-0">{{ 'Adminisztráció: szükséges hatósági engedélyek menedzselése'|trans }}</p>
                            </li>
                            <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                                <div class="timeline-arrow"></div>
                                <p class="h5 mb-0">{{ 'Termék kivitelezésének tervezése, felügyelete'|trans }}</p>
                            </li>
                            <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                                <div class="timeline-arrow"></div>
                                <p class="h5 mb-0">{{ 'Ügyfélelégedettség nyomkövetése, garancia-felügyelet'|trans }} </p>
                            </li>

                        </ul><!-- End -->
                    </div>
                </div>
            </div>
        </section>
        <section class="section" style="min-height: 100vh">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-12">
                        <p>{{ 'Minden érdeklődőt potenciális ügyfélként kezelünk és törekszünk a legmagasabb színvonalú kiszolgálásra. A teljes életút-követésnek köszönhetően az összes lépést monitorozzuk, hogy minden ügyfelünk elégedett legyen. A rendszerünk eredményességét bizonyítja a kiemelkedően magas, 71-es NPS score értékünk.'|trans }}
                        </p>
                        <h2 class="mt-2">
                            {{ 'Saját ERP rendszer'|trans }}
                        </h2>
                        <p>
                            {{ 'Szerintünk nem létezik ügyfélelégedettség biztos informatikai rendszer nélkül. A maximális felhasználói élmény érdekében hoztuk
                            létre saját ERP rendszerünket, amelyet a piac változásaihoz azonnal, elvárásainknak megfelelően igazíthatunk.'|trans }}</p>
                        <p><strong>{{ 'Everest ERP rendszer'|trans }}:</strong></p>
                        <ul class="square mt-3 mb-5">
                            <li>{{ '100%-ban saját, 100% Everest'|trans }}</li>
                            <li>{{ 'Gyors, azonnal elérhető, bármilyen új fejlesztés azonnal elkezdhető (jogi- vagy vásárlárlói környezetváltozás esetén)'|trans }}</li>
                            <li>{{ 'Felhasználóbarát felület'|trans }}</li>
                            <li>{{ 'Jogosultságkezelés: a különböző munkafolyamatokhoz különböző jogosultságú felhasználók férnek hozzá (területi képviselők,
                                menedzserek, projektkoordinátorok, call center, stb)'|trans }}
                            </li>
                            <li>{{ 'Folyamatos support rendelkezésre állás'|trans }}</li>
                            <li>{{ 'Új funkciók bevezetése rendszeresen'|trans }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            {{ include('frontend/embed/footer.html.twig') }}
        </section>
    </div>
    <style>
        ul.timeline {
            list-style-type: none;
            position: relative;
            padding-left: 1.5rem;
        }

        /* Timeline vertical line */
        ul.timeline:before {
            content: ' ';
            background: #fff;
            display: inline-block;
            position: absolute;
            left: 16px;
            width: 4px;
            height: 100%;
            z-index: 400;
            border-radius: 1rem;
        }

        li.timeline-item {
            margin: 20px 0;
        }

        /* Timeline item arrow */
        .timeline-arrow {
            border-top: 0.5rem solid transparent;
            border-right: 0.5rem solid #fff;
            border-bottom: 0.5rem solid transparent;
            display: block;
            position: absolute;
            left: 2rem;
        }

        /* Timeline item circle marker */
        li.timeline-item::before {
            content: ' ';
            background: #ddd;
            display: inline-block;
            position: absolute;
            border-radius: 50%;
            border: 3px solid #fff;
            left: 11px;
            width: 14px;
            height: 14px;
            z-index: 400;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        }
    </style>
{% endblock %}
 {% block footer %}

 {% endblock %}

    {% block javascripts %}
        {# TODO: make these resources local #}



        <script type="text/javascript">

            let europeMap = null;
            let centerX = -280;
            let centerY = null;
            let mapElement = $("#vmap");

            function setMapCenter() {
                if (window.innerWidth > 465) {
                    centerX = -234;
                }
                if (window.innerWidth > 765) {
                    centerX = -196;
                }
                if (window.innerWidth > 960) {
                    centerX = -141;
                }
                if (window.innerWidth > 1200) {
                    centerX = -103;
                }
            }

            setMapCenter()

            $(document).ready(function () {
                europeMap = $('#vmap').vectorMap({
                    map: 'europe_en',
                    backgroundColor: '#fff',
                    color: '#ffffff',
                    hoverColor: '#000',
                    enableZoom: false,
                    panOnDrag: false,
                    values: {"hu": 100, "cz": 100},
                    scaleColors: ['#224694'],

                });
                europeMap.setScale(2);
                europeMap.transX = centerX;
                europeMap.transY = -186;
                europeMap.applyTransform();
                mapElement.unbind('click');
                mapElement.unbind('touchstart');
                mapElement.unbind('touchend');
                mapElement.unbind('touchmove');
                $(document).ready(function () {
                    if (window.innerWidth > 1050) {
                        $('#fullPage').fullpage({
                            //options here
                            anchors: ['first', 'second', 'third', 'fourth', 'fifth', 'sixth', 'footer'],
                            navigation: true,
                            navigationPosition: 'left',
                            resize: false,
                            fitToSection: true,
                            scrollOverflow: true,
                            css3: true,
                            scrollingSpeed: 1000,
                            scrollSectionToBottomFromBottom: false,
                            bigSectionsDestination: 'bottom',
                            onLeave: function (origin, destination, direction) {
                                console.log(destination);
                                if (destination === 2) {
                                    initLettersAnimation()
                                }
                                if (destination === 3) {
                                    initCountUpAnimation()
                                }
                                AOS.init()
                            },
                            afterLoad: function () {
                                $('.fp-table.active .aos-init').addClass('aos-animate');
                            },

                        });
                        //
                        // //methods
                        $.fn.fullpage.setAllowScrolling(true);
                    } else {
                        $('.secondSection').attr('id', 'second')
                    }
                });
            });

        </script>
        <style>
            .fp-tableCell {
                vertical-align: unset;
                height: auto !important;
                background: white;
            }

            .fp-section {
                display: flex;
                height: auto !important;
            }

            #fp-nav ul li a span, .fp-slidesNav ul li a span {
                background: url('{{ asset('/build/images/empty-nav.png') }}');
                border-radius: 0 !important;
                background-size: cover !important;
                width: 15px;
                height: 15px;
            }

            #fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span {
                background: url('{{ asset('/build/images/active-nav.png') }}');
                height: 15px;
                width: 15px;
                margin: -2px 0 0 -2px;
            !important;
                border-radius: 100%;
            }

            #fp-nav ul li:hover a span, .fp-slidesNav ul li:hover a span {
                height: 15px;
                width: 15px;
                margin: -2px 0 0 -2px;
            !important;
            }

        </style>

    {% endblock %}
