{% extends 'base.html.twig' %}
{% block title %}{{ 'Megújuló energia'|trans }}{% endblock %}
{% block header %}{% endblock %}
{% block body %}
    <div>
        <section class="section">
            {{ include('frontend/embed/header.html.twig') }}
            <div class="row ">
                <div class="container-fluid  jumbotron-bg position-relative scroll"
                     style="background: url('{{ asset('build/images/renewables_header.png') }}');margin-bottom:0px;min-height: 600px;background-repeat: no-repeat;">
                    <div class="primary-overlay-div"></div>
                    <div class="container p-lg-1 mt-5">
                        <div class="row mt-1">
                            <div class="col-md-12 text-left animate__animated animate__fadeInRight">
                                <h1 class="mb-5 text-white fadeInTextAnimation">{{ 'Megújuló energia'|trans }}</h1>
                                <p class=" text-white  mr-5 pr-lg-5 fadeInTextAnimation" data-word-delay="1500"
                                   data-delay="50">{{ 'Ügyfél elköteleződést ajánlunk'|trans }}</p>

                            </div>
                        </div>
                    </div>
                    {{ include('frontend/embed/sliderDownArrow.html.twig',{section:'second'}) }}
                </div>
            </div>
        </section>
        <section class="section secondSection" id="second">
            <div class=" container ">
                <div class="row p-3 p-lg-5 bg-white">
                    <div class="col-md-12 ">
                        <h2 class="text-left text-dark animate__animated animate__fadeIn text-medium lettersAnimation">{{ 'A környezetvédelem és fenntarthatóság kérdése napjaink egyik legfontosabb témájává vált.  Az Everest Renewables eltökélt célja, hogy részt vegyen a megoldásban és biztosítsa az élhető jövő lehetőségét.'|trans }}
                        </h2>
                    </div>
                </div>
            </div>

            <div class="container mb-5 pb-lg-5" data-aos="fade-left">
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6 mt-5 mb-0">
                        <h1 class="text-big text-dark mb-5 text-right mobileSmallerHeading">{{ 'Munkamódszerünk'|trans }}</h1>
                    </div>
                    <div class="col-md-6 mb-5" id="accountingImageBox" data-aos="fade-right">
                        {# TODO: Set make standalone template for this image style #}
                        {{ include('frontend/embed/imageBox.html.twig',{src:asset('build/images/everest-photo2.jpg')}) }}
                    </div>
                    <div class="col-md-6 ">
                        <p class="text-right">{{ 'Professzionális tanácsadáson keresztül erősítjük partnerünk megítélését és pozícióját a megújuló energiák piacán.'|trans }}</p>
                        <h2 class="mb-3 mt-3 text-right">{{ 'Az ügyféligényekhez igazodunk'|trans }}</h2>
                        <p class="text-right">{{ 'Partnerünk potenciális ügyfeleinek segíti csapatunk a megfelelő, évtizedeket kiszolgáló megoldásokat kiválasztani. Tanácsadói és szakmai felkészültségünket a napelemes piacon eltöltött kiemelkedően sikeres évek igazolják, és biztosítják a hosszútávú eredményes együttműködést.'|trans }}</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section fp-scrollable ">
            <div class=" container-fluid " style="padding: 0 !important;">
                <div class="row no-gutters ">
                    <div class="col-md-6 p-5 bg-primary">
                        <div class="col-md-12 h-100 " style="margin-top: auto;margin-bottom: auto;display: grid">
                            {{ include('frontend/embed/counterWidget.html.twig',{number:11000,description:'Értékesített napelemes rendszer'|trans,suffix:'+'}) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12  bg-primary-light p-lg-5 p-3"><h2 class="text-medium text-white text-normal-sm text-center"> Net Promoter
                                        Score (NPS):<span class="countup-numbers text-big ml-lg-5 ml-1 text-medium-sm" data-num="75">75</span></h2></div>
                                <div class="col-md-12 d-md-block d-lg-block  d-flex  bg-white p-md-5 p-lg-5 p-3">
                                    <div class="col-md-12"><h2
                                                class="text-medium mt-4 mt-md-3 mt-lg-0 text-center mt-lg-0 text-sm-right text-md-center">{{ 'Szerződéskötési arány'|trans }}
                                            :</h2></div>
                                    <div class="col-md-12"><h1 class="mt-lg-5 mt-md-0 mt-lg-0 mt-3 text-center text-black ">18.7%</h1></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container mt-5 mb-4">
                    <div class="row">
                        <div class="col-md-12 text-center text-dark">
                            <h2 class=" font-weight-bold">{{ 'Környezettudatosság felsőfokon - teljeskörű, környezetbarát épületreform'|trans }}</h2>
                            <p class="mt-3 text-left"> {{ 'Cselekszünk környezetünkért. Az Everest Renewables rendszeres oktatások szervezésével dolgozik azon, hogy minden munkatársunk maximális felkészültséggel lépjen be Ügyfeleinkhez. <strong>Egy épület megújításakor rengeteg faktort kell figyelembe venni, ezért egyáltalán nem mindegy, hogy milyen napelemes rendszer, klíma, hőszivattyú vagy akár elektromos autó töltő kerül a háztartásba. Az értékesített termékeink műszaki tartalma állandóan változik - ahogy az ügyféligények is.</strong> Emiatt rendszeres műszaki oktatások mellett magas színvonalú tanácsadó tréningeket szervezünk, hogy csapatunk tudása folyamatosan naprakész legyen és bármilyen megújuló energiához kapcsolódó terméket vagy szolgáltatást magabiztosan képviseljük.'|trans|raw }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class=" container mt-5 mb-5">
                <div class="row p-lg-0 p-md-5 p-0 bg-white" style="min-height: 500px">
                    <div class="col-lg-6  d-flex" data-aos="fade-right">
                        <h2 class="text-center mb-5" style="align-self: center">{{ 'A magyarországi sikerek után már Csehországban is jelen vagyunk!'|trans }}
                        </h2>
                    </div>
                    <div class="col-lg-6" data-aos="fade-left">
                        <div id="vmap" style="width: 100%; height: 600px;"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container-fluid  bg-primary pt-5 pb-5 ">
                <div class="container mb-4">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="text-white text-medium-sm">{{ 'Everest ügyfél- és projektmenedzsment'|trans }}</h1>
                        </div>
                    </div>
                </div>
                <div class="row ml-lg-5 mr-lg-5 mr-md-3 ml-md-3">
                    <div class="col-md-12">
                        <ul class="timeline" data-aos="fade-left">
                            <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                                <div class="timeline-arrow"></div>
                                <p class="h5 mb-0">{{ 'Érdeklődők és ajánlások gyűjtése'|trans }}</p>
                            </li>
                            <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                                <div class="timeline-arrow"></div>
                                <p class="h5 mb-0">{{ 'Ügyféllel való kapcsolatfelvétel, időpont egyeztetés'|trans }}</p>
                            </li>
                            <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                                <div class="timeline-arrow"></div>
                                <p class="h5 mb-0">{{ 'Teljeskörű felmérés és tervezés'|trans }}</p>
                            </li>
                            <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                                <div class="timeline-arrow"></div>
                                <p class="h5 mb-0">{{ 'Szerződéskötés'|trans }}</p>
                            </li>
                            <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                                <div class="timeline-arrow"></div>
                                <p class="h5 mb-0">{{ 'Adminisztráció: szükséges hatósági engedélyek benyújtása és menedzselése'|trans }}</p>
                            </li>
                            <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                                <div class="timeline-arrow"></div>
                                <p class="h5 mb-0">{{ 'Ügyfélelégedettség nyomonkövetése'|trans }} </p>
                            </li>

                        </ul><!-- End -->
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container mt-5 mb-5">
                <div class="row">
                    <div class="col-md-12">
                        <p>{{ 'Minden érdeklődőt potenciális ügyfélként kezelünk és törekszünk a legmagasabb színvonalú kiszolgálásra. A teljes életút-követésnek köszönhetően az összes lépést monitorozzuk, hogy minden ügyfelünk elégedett legyen. A rendszerünk eredményességét bizonyítja a kiemelkedően magas, 75-ös NPS score értékünk.'|trans }}
                        </p>
                        <h1 class="mt-2">
                            {{ 'Egyedi fejlesztésű ERP rendszer'|trans }}
                        </h1>
                        <p>{{ 'Szerintünk nem létezik ügyfélelégedettség biztos informatikai rendszer nélkül. A maximális felhasználói élmény érdekében hoztuk
                            létre Egyedi fejlesztésű ERP rendszerünket, amelyet a piac változásaihoz azonnal, elvárásainknak megfelelően igazíthatunk.'|trans }}</p>
                        <p><strong>{{ 'Everest ERP rendszer'|trans }}:</strong></p>
                        <div class="row">
                            <div class="col-md-6">


                                <ul class="square mt-3 mb-5">
                                    <li>{{ '100%-ban egyedi fejlesztés'|trans }}</li>
                                    <li>{{ 'Gyors, azonnal elérhető, bármilyen új fejlesztés azonnal elkezdhető (jogi- vagy vásárlárlói környezetváltozás esetén)'|trans }}</li>
                                    <li>{{ 'Felhasználóbarát felület'|trans }}</li>
                                    <li>{{ 'Jogosultságkezelés: a különböző munkafolyamatokhoz különböző jogosultságú felhasználók férnek hozzá (területi képviselők,
                                menedzserek, projektkoordinátorok, call center, stb)'|trans }}
                                    </li>
                                    <li>{{ 'Folyamatos support rendelkezésre állás'|trans }}</li>
                                    <li>{{ 'Új funkciók bevezetése rendszeresen'|trans }}</li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                {{ include('frontend/embed/imageBox.html.twig',{src:asset('build/images/own-erp.jpg')}) }}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        {% if app.request.locale in ['cs','en'] %}
            <div class="container-fluid pt-5 bg-primary pb-5">
                <div class="container ">
                    <div class="row ">
                        <div class="col-md-12 ">
                            <h1 class="text-white">{{ 'Segíthetünk?'|trans }}</h1>
                            <p class="text-white mt-5">
                                {{ 'Űrlapunkon kérhet legegyszerűbben ajánlatot tőlünk!'|trans }}
                            </p>
                            <p class="mt-3 text-white">
                                {{ 'Ha nem szeretne a formok kitöltésével bajlódni, írjon az {email} címre vagy hívjon minket a {phone} telefonszámon!'|trans({'{phone}':"<a style='font-size:1em' class=' font-weight-bold badge badge-light' href='tel:+36303201001'>+36 30 320 1001</a>",'{email}':"<a class='font-weight-bold badge badge-light' style='font-size:1em' href='mailto:info@everest.hu'>info@everest.hu</a>"})|raw }}
                            </p>
                        </div>
                        <div class="col-md-12 mt-5 mb-5 ">
                            {{ include('frontend/embed/contactForm.html.twig',{subject:''|trans,message:''|trans}) }}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <style>
        ul.timeline {
            list-style-type: none;
            position: relative;
            padding-left: 1.5rem;
        }

        /* Timeline vertical line */
        ul.timeline:before {
            content: ' ';
            background: #fff;
            display: inline-block;
            position: absolute;
            left: 16px;
            width: 4px;
            height: 100%;
            z-index: 400;
            border-radius: 1rem;
        }

        li.timeline-item {
            margin: 20px 0;
        }

        /* Timeline item arrow */
        .timeline-arrow {
            border-top: 0.5rem solid transparent;
            border-right: 0.5rem solid #fff;
            border-bottom: 0.5rem solid transparent;
            display: block;
            position: absolute;
            left: 2rem;
        }

        /* Timeline item circle marker */
        li.timeline-item::before {
            content: ' ';
            background: #ddd;
            display: inline-block;
            position: absolute;
            border-radius: 50%;
            border: 3px solid #fff;
            left: 11px;
            width: 14px;
            height: 14px;
            z-index: 400;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        }
    </style>
{% endblock %}


    {% block javascripts %}
        {# TODO: make these resources local #}



        <script type="text/javascript">

            let europeMap = null;
            let centerX = -280;
            let centerY = -250;
            let mapElement = $("#vmap");

            let zoomIn = 1

            function setMapCenter() {
                if (window.innerWidth > 465) {
                    centerX = -250;
                    zoomIn = 1
                }
                if (window.innerWidth > 765) {
                    centerX = -300;
                    zoomIn = 2
                }
                if (window.innerWidth > 960) {
                    zoomIn = 2;
                    centerX = -220;
                }
                if (window.innerWidth > 1200) {
                    zoomIn = 2;
                    centerX = -225;
                }
            }

            setMapCenter()

            $(document).ready(function () {
                europeMap = $('#vmap').vectorMap({
                    map: 'europe_en',
                    backgroundColor: '#fff',
                    color: '#ffffff',
                    hoverColor: '#000',
                    enableZoom: false,
                    panOnDrag: false,
                    values: {"hu": 100, "cz": 100},
                    scaleColors: ['#224694'],

                });
                europeMap.setScale(2);
                europeMap.transX = centerX;
                europeMap.transY = centerY;
                europeMap.applyTransform();
                mapElement.unbind('click');
                mapElement.unbind('touchstart');
                mapElement.unbind('touchend');
                mapElement.unbind('touchmove');
                $(document).ready(function () {
                    if (window.innerWidth > 1050) {
                    } else {
                        $('.secondSection').attr('id', 'second')
                    }
                });
                for (let i = 0; i < zoomIn; i++) {
                    europeMap.zoomIn();
                }

            });

        </script>
        <style>
            .fp-tableCell {
                vertical-align: unset;
                height: auto !important;
                background: white;
            }

            .fp-section {
                display: flex;
                height: auto !important;
            }

            #fp-nav ul li a span, .fp-slidesNav ul li a span {
                background: url('{{ asset('/build/images/empty-nav.png') }}');
                border-radius: 0 !important;
                background-size: cover !important;
                width: 15px;
                height: 15px;
            }

            #fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span {
                background: url('{{ asset('/build/images/active-nav.png') }}');
                height: 15px;
                width: 15px;
                margin: -2px 0 0 -2px;
            !important;
                border-radius: 100%;
            }

            #fp-nav ul li:hover a span, .fp-slidesNav ul li:hover a span {
                height: 15px;
                width: 15px;
                margin: -2px 0 0 -2px;
            !important;
            }

            @media (max-width: 525px) {


                .bg-primary.imageBoxWrapper.ml-auto.mr-auto {
                    width: 80%;
                    height: auto !important;
                }

                img.imageBoxImage {
                    height: auto;
                }

                .text-medium {
                    font-size: 22px !important;
                }
            }

        </style>

    {% endblock %}
