<div class="row">
    <div class="col-md-4">
        <div class="newStep">
            <h5 class="stepTitle"><i class="fa fa-calendar"></i> {{ 'Tervezés'|trans }}</h5>
            <p class="stepDesc"> {{ 'Egyedi vállalatirányítási rendszereket (ERP) fejlesztünk, minden eddigi tapasztalatunkat beépítve.'|trans }}
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="newStep">
            <h5 class="stepTitle"><i class="fa fa-arrow-right"></i> {{ 'Bevezetés'|trans }}</h5>
            <p class="stepDesc">{{ 'Gondoskodunk az ügyviteli és vállalatirányítási program bevezetéséről, és oktatásáról.'|trans }}
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="newStep">
            <h5 class="stepTitle"><i class="fa fa-coffee"></i> {{ 'Fejlesztés'|trans }}</h5>
            <p class="stepDesc">{{ 'A teljesség igényével fejlesztünk Önnek hosszútávra vállalatirányítási rendszert számos iparágban és egyéb területeken.'|trans }}
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="newStep">
            <h5 class="stepTitle"><i class="fa fa-coffee"></i>{{ 'Konzultáció'|trans }}</h5>
            <p class="stepDesc">{{ 'Folyamatosan kapcsolatban maradunk Önnel, annak érdekében, hogy zökkenőmentes legyen együttműködésünk'|trans }}
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="newStep">
            <h5 class="stepTitle"><i class="fa fa-cogs"></i> {{ 'Üzemeltetés'|trans }}</h5>
            <p class="stepDesc">{{ 'Karbantartás, rendelkezésre állás, szoftverjavítások, programfrissítések és rendszeres adatmentés.'|trans }}
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="newStep">
            <h5 class="stepTitle"><i class="fa fa-support"></i> {{ 'Szoftvertámogatás'|trans }}</h5>
            <p class="stepDesc">{{ 'Leszállítást követően sem engedjük el egymás kezét, szoftvertámogatást nyújtunk, amely díjmentes fejlesztéseket is tartalmaz pl. kisebb finomításokat, mert azok mindig előfordulnak. Így lesz az Ön szoftvere jövőálló.'|trans }}
            </p>
        </div>
    </div>
</div>
