<div style="background-color:rgba(158,206,251,0.4);width:800px;text-align:left;color:#4e4d4c;font-size:18px;padding:20px;font-family:sans-serif">
    <ul style="list-style-type:none">
        <li>Név: {{ name }}</li>
        <li><a href="mailto:{{ emailAddress }}" target="_blank">E-mail: {{ emailAddress }}</a></li>
        <li>Telefonszám: {{ phone }}</li>
        <li>Tárgy: {{ subject }}</li>
        <li>Üzenet:
            {{ message }}
        </li>
    </ul>
</div>
